/* ==========================================================================
   Social Icon widget style - begin
   ========================================================================== */
.eltdf-social-icon-widget-holder {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.eltdf-social-icon-widget-holder .eltdf-social-icon-widget {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-social-icon-widget-holder {
  color: #252525 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-social-icon-widget-holder:hover {
  color: #e25810 !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-social-icon-widget-holder {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-social-icon-widget-holder:hover {
  color: #e25810 !important;
}

/* ==========================================================================
   Social Icon widget style - end
   ========================================================================== */

/*# sourceMappingURL=social-icon-widget-map.css.map */
