/* ==========================================================================
   Global partials
   ========================================================================== */
/* ==========================================================================
   Shortcodes styles
   ========================================================================== */
/* ==========================================================================
   Academist Membership Plugin Style - begin
   ========================================================================== */
.eltdf-modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1002;
}

.eltdf-modal-holder .eltdf-modal-content {
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 432px;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-transform: translateY(-47%) translateZ(0);
  -moz-transform: translateY(-47%) translateZ(0);
  transform: translateY(-47%) translateZ(0);
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner {
  padding: 20px 44px 33px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner.eltdf-login-content-inner {
  padding: 20px 44px 0;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner.eltdf-register-content-inner {
  margin-top: 1px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner.eltdf-login-content-inner {
  background-image: url("../img/user-login.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner.eltdf-register-content-inner {
  background-image: url("../img/user-register.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1280px) {
  .eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner {
    padding: 39px 25px 20px;
  }
  .eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner.eltdf-login-content-inner {
    padding: 20px 25px 0;
  }
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner h3 {
  margin: 7px 0 18px;
}

@media screen and (max-width: 1366px) {
  .eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner h3 {
    margin: 7px 0 18px;
  }
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner .eltdf-social-login-holder .eltdf-social-login-holder-inner {
  padding: 0 0 38px;
}

.eltdf-modal-holder .eltdf-modal-content fieldset > div {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-modal-holder .eltdf-modal-content fieldset > div:not(.eltdf-register-button-holder):not(.eltdf-lost-pass-remember-holder):not(.eltdf-login-button-holder):not(.eltdf-register-link-holder) {
  margin-bottom: 7px;
}

@media screen and (max-width: 1366px) {
  .eltdf-modal-holder .eltdf-modal-content fieldset > div:not(.eltdf-register-button-holder):not(.eltdf-lost-pass-remember-holder):not(.eltdf-login-button-holder):not(.eltdf-register-link-holder) {
    margin-bottom: 2px;
  }
}

.eltdf-modal-holder .eltdf-modal-content input[type="checkbox"],
.eltdf-modal-holder .eltdf-modal-content .eltdf-checbox-label,
.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder a {
  vertical-align: middle;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-checbox-label {
  margin-bottom: 1px;
}

.eltdf-modal-holder .eltdf-modal-content label {
  line-height: 25px;
  display: inline-block;
  margin-bottom: 4px;
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"],
.eltdf-modal-holder .eltdf-modal-content input[type="email"],
.eltdf-modal-holder .eltdf-modal-content input[type="password"] {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 15px 16px;
  font-size: 15px;
  line-height: 19px;
  font-weight: inherit;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"]::-webkit-input-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="email"]::-webkit-input-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="password"]::-webkit-input-placeholder {
  color: inherit;
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"]:-moz-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="email"]:-moz-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="password"]:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"]::-moz-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="email"]::-moz-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="password"]::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"]:-ms-input-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="email"]:-ms-input-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="password"]:-ms-input-placeholder {
  color: inherit;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-remember-holder,
.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder {
  display: inline-block;
  width: 50%;
  margin-top: 2px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder {
  float: right;
  text-align: right;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder a {
  color: #e35810;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder a:hover {
  color: #252525;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-register-link-holder a {
  color: #e35810;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-register-link-holder a:hover {
  color: #252525;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-button-holder button,
.eltdf-modal-holder .eltdf-modal-content .eltdf-register-button-holder button,
.eltdf-modal-holder .eltdf-modal-content .eltdf-reset-password-button-holder button,
.eltdf-modal-holder .eltdf-modal-content .eltdf-register-notice button {
  margin: 13px 0 6px;
  color: #fff;
  border: none;
  background-color: #e35810;
  width: 100%;
  padding: 16px 33px;
}

@media screen and (max-width: 1366px) {
  .eltdf-modal-holder .eltdf-modal-content .eltdf-login-button-holder button,
  .eltdf-modal-holder .eltdf-modal-content .eltdf-register-button-holder button,
  .eltdf-modal-holder .eltdf-modal-content .eltdf-reset-password-button-holder button,
  .eltdf-modal-holder .eltdf-modal-content .eltdf-register-notice button {
    margin: 11px 0 8px;
  }
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-button-holder button .eltdf-btn-hover-item,
.eltdf-modal-holder .eltdf-modal-content .eltdf-register-button-holder button .eltdf-btn-hover-item,
.eltdf-modal-holder .eltdf-modal-content .eltdf-reset-password-button-holder button .eltdf-btn-hover-item,
.eltdf-modal-holder .eltdf-modal-content .eltdf-register-notice button .eltdf-btn-hover-item {
  background-color: #f6f6f6 !important;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-register-button-holder button {
  margin: 21px 0 6px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-form-social-login {
  margin: 0 -44px;
  padding: 14px 44px 30px;
  background-color: #252525;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title {
  margin: 7px 0 23px;
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  max-width: 54%;
  line-height: 28px;
}

@media screen and (max-width: 1366px) {
  .eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title {
    margin: 2px 0 14px;
  }
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: inline-block;
  position: relative;
  line-height: 1em;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span:before, .eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #eaeaea;
  top: 8px;
  width: 90px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span:before {
  right: 100%;
  margin-right: 25px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span:after {
  left: 100%;
  margin-left: 25px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks .eltdf-facebook-login-holder,
.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks .eltdf-google-login-holder {
  display: inline-block;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks button {
  width: 40px;
  height: 40px;
  line-height: 34px;
  padding: 0;
  display: inline-block;
  margin: 0 13px 0 0;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks button > i {
  margin: 0;
  font-size: 18px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks button span {
  margin: 0 0 0 2px;
  font-size: 17px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks button .eltdf-btn-text {
  display: none;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-info {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 13px 0 10px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-register-notice p {
  text-align: center;
}

.eltdf-membership-main-wrapper input[type="text"],
.eltdf-membership-main-wrapper input[type="email"],
.eltdf-membership-main-wrapper input[type="password"] {
  position: relative;
  width: 100%;
  margin: 0 0 12px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: inherit;
  color: #444444;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.eltdf-membership-main-wrapper input[type="text"]:focus,
.eltdf-membership-main-wrapper input[type="email"]:focus,
.eltdf-membership-main-wrapper input[type="password"]:focus {
  border-color: #252525;
}

.eltdf-membership-main-wrapper input[type="text"]::-webkit-input-placeholder,
.eltdf-membership-main-wrapper input[type="email"]::-webkit-input-placeholder,
.eltdf-membership-main-wrapper input[type="password"]::-webkit-input-placeholder {
  color: #444444;
}

.eltdf-membership-main-wrapper input[type="text"]:-moz-placeholder,
.eltdf-membership-main-wrapper input[type="email"]:-moz-placeholder,
.eltdf-membership-main-wrapper input[type="password"]:-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.eltdf-membership-main-wrapper input[type="text"]::-moz-placeholder,
.eltdf-membership-main-wrapper input[type="email"]::-moz-placeholder,
.eltdf-membership-main-wrapper input[type="password"]::-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.eltdf-membership-main-wrapper input[type="text"]:-ms-input-placeholder,
.eltdf-membership-main-wrapper input[type="email"]:-ms-input-placeholder,
.eltdf-membership-main-wrapper input[type="password"]:-ms-input-placeholder {
  color: #444444;
}

.eltdf-membership-response-holder .eltdf-membership-response {
  display: block;
  text-align: center;
  margin: 14px 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.eltdf-membership-response-holder .eltdf-membership-response.eltdf-membership-message-succes {
  color: #444444;
}

.eltdf-membership-response-holder .eltdf-membership-response.eltdf-membership-message-error {
  color: #ff3d27;
}

.eltdf-social-login-holder input[type="text"],
.eltdf-social-login-holder input[type="email"],
.eltdf-social-login-holder input[type="password"],
.eltdf-social-register-holder input[type="text"],
.eltdf-social-register-holder input[type="email"],
.eltdf-social-register-holder input[type="password"],
.eltdf-social-reset-password-holder input[type="text"],
.eltdf-social-reset-password-holder input[type="email"],
.eltdf-social-reset-password-holder input[type="password"] {
  position: relative;
  width: 100%;
  margin: 0 0 14px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: inherit;
  color: #444444;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.eltdf-social-login-holder input[type="text"]:focus,
.eltdf-social-login-holder input[type="email"]:focus,
.eltdf-social-login-holder input[type="password"]:focus,
.eltdf-social-register-holder input[type="text"]:focus,
.eltdf-social-register-holder input[type="email"]:focus,
.eltdf-social-register-holder input[type="password"]:focus,
.eltdf-social-reset-password-holder input[type="text"]:focus,
.eltdf-social-reset-password-holder input[type="email"]:focus,
.eltdf-social-reset-password-holder input[type="password"]:focus {
  border-color: #252525;
}

.eltdf-social-login-holder input[type="text"]::-webkit-input-placeholder,
.eltdf-social-login-holder input[type="email"]::-webkit-input-placeholder,
.eltdf-social-login-holder input[type="password"]::-webkit-input-placeholder,
.eltdf-social-register-holder input[type="text"]::-webkit-input-placeholder,
.eltdf-social-register-holder input[type="email"]::-webkit-input-placeholder,
.eltdf-social-register-holder input[type="password"]::-webkit-input-placeholder,
.eltdf-social-reset-password-holder input[type="text"]::-webkit-input-placeholder,
.eltdf-social-reset-password-holder input[type="email"]::-webkit-input-placeholder,
.eltdf-social-reset-password-holder input[type="password"]::-webkit-input-placeholder {
  color: #444444;
}

.eltdf-social-login-holder input[type="text"]:-moz-placeholder,
.eltdf-social-login-holder input[type="email"]:-moz-placeholder,
.eltdf-social-login-holder input[type="password"]:-moz-placeholder,
.eltdf-social-register-holder input[type="text"]:-moz-placeholder,
.eltdf-social-register-holder input[type="email"]:-moz-placeholder,
.eltdf-social-register-holder input[type="password"]:-moz-placeholder,
.eltdf-social-reset-password-holder input[type="text"]:-moz-placeholder,
.eltdf-social-reset-password-holder input[type="email"]:-moz-placeholder,
.eltdf-social-reset-password-holder input[type="password"]:-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.eltdf-social-login-holder input[type="text"]::-moz-placeholder,
.eltdf-social-login-holder input[type="email"]::-moz-placeholder,
.eltdf-social-login-holder input[type="password"]::-moz-placeholder,
.eltdf-social-register-holder input[type="text"]::-moz-placeholder,
.eltdf-social-register-holder input[type="email"]::-moz-placeholder,
.eltdf-social-register-holder input[type="password"]::-moz-placeholder,
.eltdf-social-reset-password-holder input[type="text"]::-moz-placeholder,
.eltdf-social-reset-password-holder input[type="email"]::-moz-placeholder,
.eltdf-social-reset-password-holder input[type="password"]::-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.eltdf-social-login-holder input[type="text"]:-ms-input-placeholder,
.eltdf-social-login-holder input[type="email"]:-ms-input-placeholder,
.eltdf-social-login-holder input[type="password"]:-ms-input-placeholder,
.eltdf-social-register-holder input[type="text"]:-ms-input-placeholder,
.eltdf-social-register-holder input[type="email"]:-ms-input-placeholder,
.eltdf-social-register-holder input[type="password"]:-ms-input-placeholder,
.eltdf-social-reset-password-holder input[type="text"]:-ms-input-placeholder,
.eltdf-social-reset-password-holder input[type="email"]:-ms-input-placeholder,
.eltdf-social-reset-password-holder input[type="password"]:-ms-input-placeholder {
  color: #444444;
}

.eltdf-membership-response-holder .eltdf-membership-response {
  display: block;
  margin: 14px 0 0;
  font-size: 13px;
  font-weight: 700;
}

.eltdf-membership-response-holder .eltdf-membership-response.eltdf-membership-message-succes {
  color: #000;
}

.eltdf-membership-response-holder .eltdf-membership-response.eltdf-membership-message-error {
  color: #ff3d27;
}

.eltdf-wp-register-holder .eltdf-register-notice h5 {
  margin: 0;
}

/* ==========================================================================
   Academist Membership Plugin Style - end
   ========================================================================== */
/* Dashboard page - start
   ========================================================================== */
.eltdf-membership-main-wrapper {
  display: table;
  width: 100%;
  background-color: #fff;
  margin: 117px 0;
}

.eltdf-membership-dashboard-nav-holder,
.eltdf-membership-dashboard-content-holder {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}

.eltdf-membership-dashboard-nav-holder {
  width: 30%;
  padding: 4.5%;
  margin: 0 0 75px;
  background-color: #1d1d1d;
}

.eltdf-membership-dashboard-nav-holder ul {
  padding: 0 15px 0 0;
  margin: 0;
  list-style: none;
}

.eltdf-membership-dashboard-nav-holder ul li {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.eltdf-membership-dashboard-nav-holder ul li:not(:last-child) {
  margin: 0 0 10px;
}

.eltdf-membership-dashboard-nav-holder ul li:before {
  content: "\24";
  position: absolute;
  top: 0;
  left: -25px;
  width: 20px;
  font-family: 'ElegantIcons';
  vertical-align: unset;
  color: #e35810;
  font-size: 18px;
  line-height: inherit;
  font-weight: 800;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.eltdf-membership-dashboard-nav-holder ul li:hover a, .eltdf-membership-dashboard-nav-holder ul li.eltdf-active-dash a {
  padding-left: 25px;
}

.eltdf-membership-dashboard-nav-holder ul li:hover:before, .eltdf-membership-dashboard-nav-holder ul li.eltdf-active-dash:before {
  left: 0;
}

.eltdf-membership-dashboard-nav-holder ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: padding 0.2s ease;
  -moz-transition: padding 0.2s ease;
  transition: padding 0.2s ease;
}

.eltdf-membership-dashboard-nav-holder ul li a * {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
}

.eltdf-membership-dashboard-nav-holder ul li a *:before {
  display: block;
  line-height: inherit;
}

.eltdf-membership-dashboard-nav-holder ul li a .eltdf-dash-icon {
  font-size: 15px;
  margin-right: 4px;
}

.eltdf-membership-dashboard-content-holder {
  width: 70%;
  padding: 4.5%;
  margin: 0 0 60px;
  border-left: 1px solid #e1e1e1;
}

.eltdf-membership-dashboard-content-holder .eltdf-profile-image {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
}

.eltdf-membership-dashboard-content-holder .eltdf-profile-image img {
  display: block;
  position: relative;
}

.eltdf-membership-dashboard-content-holder .eltdf-membership-dashboard-page-title {
  margin: 0 0 23px;
}

.eltdf-membership-dashboard-content-holder .eltdf-membership-dashboard-page-content p {
  margin: 12px 0;
}

.eltdf-membership-dashboard-content-holder .eltdf-membership-dashboard-page-content p span {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.page-template-user-dashboard .eltdf-container {
  background-image: url("../img/user-dashboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dashboard page - end
   ========================================================================== */
.eltdf-login-register-content > h3 {
  background: #1d1d1d;
  margin: 0;
  padding: 0;
}

.eltdf-login-register-content > h3 span {
  width: 50%;
  display: inline-block;
  background: #fff;
  padding: 86px 7.8% 30px;
  box-sizing: border-box;
}

.eltdf-login-register-content .eltdf-social-login-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.eltdf-login-register-content .eltdf-social-login-holder-inner,
.eltdf-login-register-content .eltdf-login-form-social-login {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50%;
}

.eltdf-login-register-content .eltdf-login-form-social-login {
  vertical-align: top;
}

.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-remember-holder,
.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-lost-pass-holder {
  width: 50%;
  display: inline-block;
}

.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-lost-pass-holder {
  float: right;
  text-align: right;
}

.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-lost-pass-holder a {
  color: #e35810;
}

.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-lost-pass-holder a:hover {
  color: #252525;
}

.eltdf-login-register-content .eltdf-register-link-holder {
  margin: 2px 0 0;
}

.eltdf-login-register-content .eltdf-register-link-holder a {
  color: #e35810;
}

.eltdf-login-register-content .eltdf-register-link-holder a:hover {
  color: #252525;
}

.eltdf-login-register-content .eltdf-register-link-holder .eltdf-modal-opener {
  color: #e35810;
}

.eltdf-login-register-content .eltdf-social-login-holder-inner {
  padding: 0 8.3% 6.4% 7.8%;
  box-sizing: border-box;
}

.eltdf-login-register-content .eltdf-login-form fieldset > div {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-login-register-content .eltdf-login-form fieldset > div:not(.eltdf-register-button-holder):not(.eltdf-lost-pass-remember-holder):not(.eltdf-login-button-holder):not(.eltdf-register-link-holder) {
  margin-bottom: 10px;
}

.eltdf-login-register-content .eltdf-login-form label {
  line-height: 25px;
  display: inline-block;
  margin-bottom: 1px;
}

.eltdf-login-register-content .eltdf-login-form input[type=text],
.eltdf-login-register-content .eltdf-login-form input[type=password] {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 15px 16px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: inherit;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.eltdf-login-register-content .eltdf-login-form input[type=text]::-webkit-input-placeholder,
.eltdf-login-register-content .eltdf-login-form input[type=password]::-webkit-input-placeholder {
  color: inherit;
}

.eltdf-login-register-content .eltdf-login-form input[type=text]:-moz-placeholder,
.eltdf-login-register-content .eltdf-login-form input[type=password]:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.eltdf-login-register-content .eltdf-login-form input[type=text]::-moz-placeholder,
.eltdf-login-register-content .eltdf-login-form input[type=password]::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.eltdf-login-register-content .eltdf-login-form input[type=text]:-ms-input-placeholder,
.eltdf-login-register-content .eltdf-login-form input[type=password]:-ms-input-placeholder {
  color: inherit;
}

.eltdf-login-register-content .eltdf-login-form-social-login {
  padding: 0 8.1%;
  background-color: #1d1d1d;
  box-sizing: border-box;
}

.eltdf-login-register-content .eltdf-login-social-title {
  margin: 45px 0 23px;
  color: #fff;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  max-width: 65%;
  line-height: 34px;
}

.eltdf-login-register-content .eltdf-login-button-holder button.eltdf-btn {
  margin: 32px 0 6px;
  color: #fff;
  border: none;
  background-color: #e35810;
  width: 100%;
  padding: 16px 33px;
}

.eltdf-login-register-content .eltdf-login-button-holder button.eltdf-btn .eltdf-btn-hover-item {
  background-color: #f6f6f6 !important;
}

.eltdf-login-register-content .eltdf-login-button-holder button.eltdf-btn:hover {
  background-color: #252525 !important;
}

.eltdf-login-register-content .eltdf-login-social-info {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #252525;
}

.eltdf-login-register-content .eltdf-login-social-networks .eltdf-facebook-login-holder,
.eltdf-login-register-content .eltdf-login-social-networks .eltdf-google-login-holder {
  display: inline-block;
}

.eltdf-login-register-content .eltdf-login-social-networks button.eltdf-btn {
  width: 40px;
  height: 40px;
  line-height: 34px;
  padding: 0;
  display: inline-block;
  margin: 9px 12px 0 0;
}

.eltdf-login-register-content .eltdf-login-social-networks button.eltdf-btn > i {
  margin: 0;
  font-size: 18px;
}

.eltdf-login-register-content .eltdf-login-social-networks button.eltdf-btn span {
  margin: 0 0 0 2px;
  font-size: 17px;
}

.eltdf-login-register-content .eltdf-login-social-networks button.eltdf-btn .eltdf-btn-text {
  display: none;
}

.eltdf-login-register-content .eltdf-membership-response-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #444444;
  text-align: center;
}

.eltdf-login-register-content .eltdf-membership-response-holder p {
  color: #fff;
  padding: 30px 50px;
  font-size: 22px;
}

/* Login/Register/Password form - start
   ========================================================================== */
.eltdf-wp-reset-pass-holder .eltdf-btn {
  margin: 10px 0 0;
  width: 100%;
}

.eltdf-wp-reset-pass-holder .eltdf-btn.eltdf-facebook-login {
  margin-bottom: 0;
}

.eltdf-wp-login-holder .eltdf-btn {
  margin: 17px 0 15px;
  width: 100%;
}

.eltdf-wp-login-holder .eltdf-btn.eltdf-facebook-login {
  margin-bottom: 0;
}

.eltdf-wp-register-holder .eltdf-btn {
  margin: 10px 0 0;
  width: 100%;
  z-index: 1;
}

.eltdf-wp-register-holder .eltdf-btn.eltdf-facebook-login {
  margin-bottom: 0;
}

.eltdf-wp-register-holder .eltdf-btn .eltdf-log-in-text {
  z-index: 2;
}

.eltdf-wp-register-holder .eltdf-btn .eltdf-btn-hover-item {
  z-index: -1;
}

/* Login/Register/Password form - end
   ========================================================================== */
/* Login/Register widget - start
   ========================================================================== */
/* User not logged in */
.eltdf-login-register-widget.eltdf-user-not-logged-in {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.eltdf-sidebar .eltdf-login-register-widget.eltdf-user-not-logged-in {
  width: 100%;
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener,
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  /* Top bar */
  /* Menu area */
  /* Sidebar */
  /* Footer */
  /* Side area */
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener, .eltdf-top-bar
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  color: #d8d8d8;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:hover, .eltdf-top-bar
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:hover {
  color: #e35810;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener, .eltdf-menu-area
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #9c9c9c;
  font-size: 13px;
  line-height: 23px;
  margin: 0 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:hover, .eltdf-menu-area
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:hover {
  color: #000;
}

.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener, .eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header)
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:hover, .eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header)
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:hover {
  color: rgba(0, 0, 0, 0.8);
}

.eltdf-light-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener, .eltdf-light-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header)
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  color: #fff !important;
}

.eltdf-light-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:hover, .eltdf-light-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header)
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:hover {
  color: rgba(255, 255, 255, 0.8);
}

.eltdf-sidebar .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener, .eltdf-sidebar
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.eltdf-sidebar .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:hover, .eltdf-sidebar
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:hover {
  color: #ffec13;
}

footer .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener, footer
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

footer .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:hover, footer
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:hover {
  color: #ffec13;
}

.eltdf-side-menu .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener, .eltdf-side-menu
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.eltdf-side-menu .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:hover, .eltdf-side-menu
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:hover {
  color: #ffec13;
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener {
  margin: 0 29px 0 0;
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:before {
  position: relative;
  display: inline-block;
  top: -1px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f007";
  margin-right: 8px;
  vertical-align: middle;
  font-size: 12px;
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:before {
  position: relative;
  display: inline-block;
  top: -1px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f2f5";
  margin-right: 7px;
  vertical-align: middle;
  font-size: 13px;
}

/* User logged in */
.eltdf-login-register-widget.eltdf-user-logged-in {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  /* Top bar and menu area dropdown position */
  /* Menu area style */
  /* Top bar style */
  /* Sidebar style */
  /* Footer style */
  /* Sidearea style */
}

.eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user {
  display: table;
  height: 100%;
}

.eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner {
  display: table-cell;
  vertical-align: middle;
}

.eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  border-radius: 100%;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown {
  position: absolute;
  top: 100%;
  margin: 0;
  left: 0;
  opacity: 0;
  list-style-type: none;
  text-align: left;
  padding: 0;
  width: 175px;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 100;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a {
  display: block;
  position: relative;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in:hover .eltdf-login-dropdown,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in:hover .eltdf-login-dropdown {
  visibility: visible;
  opacity: 1;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in {
  cursor: pointer;
  /* User part */
  /* Dropdown part */
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user {
  height: 100%;
  display: table;
  vertical-align: middle;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span {
  color: #252525;
  line-height: 20px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.015em;
  text-transform: capitalize;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in:hover .eltdf-logged-in-user .eltdf-logged-in-user-inner > span {
  color: #000;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown {
  background-color: #252525;
  padding: 14px 0 16px;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  font-size: 13px;
  color: #444444;
  text-transform: capitalize;
  padding: 10px 29px;
  line-height: 16px;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a .eltdf-login-dropdown-item-inner {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a .eltdf-login-dropdown-item-inner:before {
  position: absolute;
  content: "\24";
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -20px;
  width: 20px;
  font-family: ElegantIcons;
  vertical-align: unset;
  color: #e35810;
  font-size: 18px;
  line-height: 1em;
  font-weight: 800;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a:hover .eltdf-login-dropdown-item-inner {
  padding: 0 0 0 25px;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a:hover .eltdf-login-dropdown-item-inner:before {
  left: 0;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in:hover .eltdf-login-dropdown {
  visibility: visible;
  opacity: 1;
}

.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span span,
.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span i {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span span:hover,
.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span i:hover {
  color: rgba(0, 0, 0, 0.8);
}

.eltdf-light-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span span,
.eltdf-light-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span i {
  color: #fff !important;
}

.eltdf-light-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span span:hover,
.eltdf-light-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span i:hover {
  color: rgba(255, 255, 255, 0.8);
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in {
  cursor: pointer;
  /* User part */
  /* Dropdown part */
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span {
  color: #b6b6b6;
  line-height: 20px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.015em;
  text-transform: capitalize;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown {
  background-color: #252525;
  padding: 14px 0 16px;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  font-size: 13px;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 29px;
  line-height: 16px;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a .eltdf-login-dropdown-item-inner {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a .eltdf-login-dropdown-item-inner:before {
  position: absolute;
  content: "\24";
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -20px;
  width: 20px;
  font-family: ElegantIcons;
  vertical-align: unset;
  color: #e35810;
  font-size: 18px;
  line-height: 1em;
  font-weight: 800;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a:hover .eltdf-login-dropdown-item-inner {
  padding: 0 0 0 25px;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a:hover .eltdf-login-dropdown-item-inner:before {
  left: 0;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in:hover .eltdf-login-dropdown {
  visibility: visible;
  opacity: 1;
}

.eltdf-sidebar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner {
  padding-bottom: 3px;
  border-bottom: 1px solid #e1e1e1;
}

.eltdf-sidebar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.eltdf-sidebar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span i {
  display: none;
}

footer .eltdf-login-register-widget.eltdf-user-logged-in {
  height: auto;
}

footer .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner {
  padding-bottom: 3px;
  border-bottom: 1px solid #e1e1e1;
}

footer .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

footer .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span i {
  display: none;
}

.eltdf-side-menu .eltdf-login-register-widget.eltdf-user-logged-in {
  height: auto;
}

.eltdf-side-menu .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner {
  padding-bottom: 3px;
  border-bottom: 1px solid #e1e1e1;
}

.eltdf-side-menu .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span {
  color: #666;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.eltdf-side-menu .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span i {
  display: none;
}

/* Login/Register widget - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/academist-membership/assets/css/membership.css.map */
