/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
.cartbounty-bubble{
	-webkit-transition: 	all 1.6s cubic-bezier(0.815, -0.250, 0.230, 1.280);
	-moz-transition: 		all 1.6s cubic-bezier(0.815, -0.250, 0.230, 1.280);
	-o-transition: 			all 1.6s cubic-bezier(0.815, -0.250, 0.230, 1.280);
	transition: 			all 1.6s cubic-bezier(0.815, -0.250, 0.230, 1.280);
}

#cartbounty-bubbles .button,
.cartbounty-preview-contents .button,
.cartbounty-close,
#cartbounty-go-pro-header-image a,
.cartbounty .submit:after,
.cartbounty-type .button,
.cartbounty-tooltip,
.cartbounty td.cart_contents img,
.status,
#cartbounty-remove-image,
.cartbounty-close-modal,
.cartbounty-upload-image img,
.cartbounty-tab,
#cartbounty-sections a,
.cartbounty-button,
.cartbounty #screen-options-wrap .button,
.cartbounty-icon-container,
.cartbounty .cartbounty-text,
.cartbounty .cartbounty-select,
.cartbounty .bulkactions select,
.cartbounty #cartbounty_carts_per_page,
.cartbounty #current-page-selector,
.cartbounty-colors .button,
.cartbounty-colors .button .wp-color-result-text,
.selectize-input,
.selectize-dropdown,
.selectize-control.single .selectize-input:after,
.cartbounty-step-contents,
.cartbounty-step-trigger,
.cartbounty-step,
.cartbounty-step-opener,
.cartbounty-stats-percentage,
.cartbounty-stats-count,
.cartbounty-button svg{
	-webkit-transition: 	all 0.2s ease-in-out;
	-moz-transition: 		all 0.2s ease-in-out;
	-o-transition: 			all 0.2s ease-in-out;
	transition: 			all 0.2s ease-in-out;
}

#cartbounty-exit-intent-left i,
#cartbounty-exit-intent-fullscreen i,
#cartbounty-early-capture-center i,
#cartbounty-early-capture-near-button i,
#cartbounty-automation-template-rows i,
#cartbounty-automation-template-columns i,
.cartbounty-exit-intent-additional-style,
.cartbounty-wordpress-additional-style,
.cartbounty-wordpress-get-additional-step,
.cartbounty-step-unavailable .cartbounty-step-opener,
.cartbounty-step-unavailable .cartbounty-step-opener .cartbounty-row{
	-webkit-transition: 	all 0.4s ease-in-out;
	-moz-transition: 		all 0.4s ease-in-out;
	-o-transition: 			all 0.4s ease-in-out;
	transition: 			all 0.4s ease-in-out;
}

.cartbounty-step.cartbounty-step-unavailable{
	-webkit-transition: 	border 0.4s cubic-bezier(1.000, 0.010, 1.000, 0.050);
	-webkit-transition: 	border 0.4s cubic-bezier(1.000, 0.010, 1.000, 0.050);
	-moz-transition: 		border 0.4s cubic-bezier(1.000, 0.010, 1.000, 0.050);
	-o-transition: 			border 0.4s cubic-bezier(1.000, 0.010, 1.000, 0.050);
	transition: 			border 0.4s cubic-bezier(1.000, 0.010, 1.000, 0.050);
}

#cartbounty-page-wrapper{
	padding: 10px 30px 0 10px;
	margin: 0;
}

#contextual-help-wrap p,
.cartbounty-section-intro,
.cartbounty-section-content p{
	font-size: 14px;
	line-height: 22px;
}

.cartbounty h1,
h2.cartbounty-section-title{
	margin: 10px 0;
	font-size: 23px;
	line-height: 30px;
	font-weight: 500;
}

.cartbounty-product-list{
	list-style-type: decimal;
	list-style-position: outside;
	padding-left: 10px;
	margin: 0;
}

#cartbounty-page-wrapper.cartbounty-without-thumbnails .column-cart_contents{
	width: 350px;
}

.cartbounty .column-cart_contents{
	width: 20%;
}

.cartbounty .column-time{
	width: 140px;
}

.cartbounty .column-contact p{
	padding: 0;
	margin: 0;
}

#cartbounty-table table{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#cartbounty-table table thead td,
#cartbounty-table table thead th{
	vertical-align: top;
}

#cartbounty-table a{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}

#cartbounty-table .column-id{
	width: 60px;
}

#cartbounty-table .column-status{
	width: 80px;
}

#cartbounty-table .check-column{
	padding: 10px 5px;
	margin: 0;
}

#cartbounty-table .wp-list-table td{
	vertical-align: top;
}

.status.shopping,
.status.new,
.status.synced,
.status.recovered,
.status.tool-saved,
.status.active,
.status.inactive{
	padding: 1px 7px 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	margin: 0 3px 1px 0;
	cursor: default;
	display: inline-block;
}

.status.active{
	background: #5cb521;
}

.status.shopping{
	background-color: #eeb900;
}

.status.new,
#adminmenu li.current a .new-abandoned{
	background-color: #ca4a1f;
}

.status.synced,
.status.tool-saved,
.status.inactive{
	background-color: #b6b6b6;
}

.status.synced:hover,
.status.tool-saved:hover{
	background-color: #3d3d3d;
}

.status.recovered{
	background: #1f1a1b;
}

.status.tool-saved{
	text-indent: -99999px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 11px;
	padding-left: 10px;
	padding-right: 10px;
}

.status.saved-by-exit-intent{
	background-image: url("data:image/svg+xml,%3Csvg style='fill: %23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65.5 70'%3E%3Cpath d='M29,7.23A7.23,7.23,0,1,1,21.75,0,7.23,7.23,0,0,1,29,7.23Z'/%3E%3Cpath d='M17.32,70a5.73,5.73,0,0,1-4.78-2.6,4.85,4.85,0,0,1-.18-4.84q1-2.12,2-4.25c1.33-2.8,2.71-5.68,4.14-8.5,1.33-2.6,5-5.49,11.29-8.81-2.17-4.18-4.25-8-6.35-11.61a21.16,21.16,0,0,1-5.12.66C11.6,30.05,5.59,26.63,1,20.18a4.58,4.58,0,0,1-.48-4.86,5.76,5.76,0,0,1,5.06-3,5.28,5.28,0,0,1,4.39,2.29c2.32,3.26,5.1,4.92,8.26,4.92A13.46,13.46,0,0,0,25,17.43c.18-.12.63-.36,1.12-.64l.31-.17,1.36-.78a23.44,23.44,0,0,1,12-3.55c6.76,0,12.77,3.42,17.39,9.89A4.56,4.56,0,0,1,57.58,27,5.76,5.76,0,0,1,52.52,30a5.26,5.26,0,0,1-4.38-2.28c-2.33-3.26-5.11-4.91-8.27-4.91a10.63,10.63,0,0,0-1.66.14c2.44,4.4,6.53,12.22,7.08,13.58,2.23,4.07,4.78,7.82,8.25,7.82A7,7,0,0,0,57,43.23a5.68,5.68,0,0,1,2.85-.81,5.85,5.85,0,0,1,5.41,4.43A5.27,5.27,0,0,1,62.74,53a18,18,0,0,1-9.08,2.68c-5,0-9.91-2.61-14.08-7.55-2.93,1.44-8.65,4.38-11.3,6.65-.53.87-4.4,8.16-6.4,12.29A5,5,0,0,1,17.32,70Z'/%3E%3C/svg%3E");
}

.status.saved-by-custom-field{
	background-image: url("data:image/svg+xml,%3Csvg style='fill: %23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 59.4 70'%3E%3Cpath d='M52,27.43H49V4.93A4.93,4.93,0,0,0,44.09,0H42.6a4.93,4.93,0,0,0-4.93,4.93v22.5H21.73V4.93A4.93,4.93,0,0,0,16.8,0H15.31a4.93,4.93,0,0,0-4.93,4.93v22.5h-3A7.39,7.39,0,0,0,.16,36.34L2.63,48a27.66,27.66,0,0,0,54.14,0l2.47-11.7A7.38,7.38,0,0,0,52,27.43Z'/%3E%3C/svg%3E");
	background-size: 8px 11px;
}

.cartbounty-customer-icon,
.cartbounty-time-icon{
	height: 15px;
	width: auto;
	position: relative;
	top: 2px;
	padding-right: 7px;
	fill: #555;
}

.cartbounty-customer-icon{
	height: 14px;
}

.cartbounty-time-icon{
	top: 3px;
}

.license-active{
	color: #177417;
}

.cartbounty-invalid-email{
	color: #ca4a1f;
}

.cartbounty-settings-group .cartbounty-radiobutton-label{
	margin: 10px 35px 0 0;
	padding: 0;
	display: inline-block;
}

input.cartbounty-radiobutton{
	background: transparent;
	border-color: #d1cfcf;
	width: 20px;
	height: 20px;
}

input.cartbounty-radiobutton:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow:	none;
}

input.cartbounty-radiobutton:checked{
	background-color: #aa88fc;
	border-color: #9c75fc;
}

input.cartbounty-radiobutton:checked:before{
	background-color: #fff;
	width: 8px;
	height: 8px;
	margin: 5px;
}

.cartbounty-bubble{
	float: left;
	width: 200px;
	margin-left: 30px;
	-webkit-box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: fixed;
	top: -600px;
	right: 50px;
	z-index: 1000;
}

.cartbounty-hidden,
.cartbounty-checked-parent i.cartbounty-hidden,
.cartbounty .cartbounty-sidebar .cartbounty-select{
	display: none;
}

.cartbounty-header-image{
	text-align: center;
}

#cartbounty-go-pro .cartbounty-header-image{
	background: rgb(201,176,253); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(201,176,253,1) 0%, rgba(195,168,253,1) 9%, rgba(177,145,252,1) 26%, rgba(170,136,252,1) 35%, rgba(170,136,252,1) 60%, rgba(195,144,242,1) 90%, rgba(198,145,241,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(201,176,253,1) 0%,rgba(195,168,253,1) 9%,rgba(177,145,252,1) 26%,rgba(170,136,252,1) 35%,rgba(170,136,252,1) 60%,rgba(195,144,242,1) 90%,rgba(198,145,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(201,176,253,1) 0%,rgba(195,168,253,1) 9%,rgba(177,145,252,1) 26%,rgba(170,136,252,1) 35%,rgba(170,136,252,1) 60%,rgba(195,144,242,1) 90%,rgba(198,145,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9b0fd', endColorstr='#c691f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#cartbounty-review .cartbounty-header-image,
.cartbounty-preview-emojis .cartbounty-header-image{
	background: #ffd601; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ffd601 0%, #ffde01 49%, #ffe851 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #ffd601 0%,#ffde01 49%,#ffe851 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #ffd601 0%,#ffde01 49%,#ffe851 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd601', endColorstr='#ffe851',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#cartbounty-steps .cartbounty-header-image,
.cartbounty-preview-personalization .cartbounty-header-image{
	background: rgb(32,188,160);
	background: -moz-linear-gradient(333deg, rgba(32,188,160,1) 0%, rgba(32,188,182,1) 50%, rgba(35,186,208,1) 100%);
	background: -webkit-linear-gradient(333deg, rgba(32,188,160,1) 0%, rgba(32,188,182,1) 50%, rgba(35,186,208,1) 100%);
	background: linear-gradient(333deg, rgba(32,188,160,1) 0%, rgba(32,188,182,1) 50%, rgba(35,186,208,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#20bca0",endColorstr="#23bad0",GradientType=1); 
}

.cartbounty-header-image a{
	display: block;
	padding: 0;
	line-height: 0;
}

.cartbounty-header-image img{
	height: 130px;
	padding: 0;
}

#cartbounty-go-pro .cartbounty-header-image a:hover{
	background: #aa88fc;
}

#cartbounty-review .cartbounty-header-image a:hover,
.cartbounty-preview-emojis .cartbounty-header-image a:hover{
	background: #ffde01;
}

#cartbounty-steps .cartbounty-header-image a:hover,
.cartbounty-preview-personalization .cartbounty-header-image a:hover{
	background: #20bca0;
}

#cartbounty-go-pro-content,
#cartbounty-review-content,
.cartbounty-preview-text{
	padding: 20px 20px 10px;
	background: #23282d;
	color: #dbdbdb;
}

#cartbounty-go-pro-content h2,
#cartbounty-review-content h2,
.cartbounty-preview-text h2{
	line-height: 21px;
	color: #fff;
	margin: 0;
}

#cartbounty-review .cartbounty-review-submitted{
	text-shadow: none;
}

#cartbounty-bubbles .button,
.cartbounty-type .button,
.cartbounty-preview-contents .button{
	background: #ffde01;
	color: #000;
	border: 0px none;
	margin-right: 15px;
	margin-bottom: 7px;
	padding-right: 18px;
	padding-left: 18px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#cartbounty-bubbles .button.cartbounty-close,
.cartbounty-preview-contents .button.cartbounty-close{
	background: none;
	color: #fff;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

#cartbounty-review .cartbounty-review-submitted{
	background: #cbcbcb;
}

#cartbounty-bubbles .button:hover,
#cartbounty-review .cartbounty-review-submitted:hover,
.cartbounty-type .button:hover,
.cartbounty-preview-contents .button:hover,
#cartbounty-bubbles .button:focus,
#cartbounty-review .cartbounty-review-submitted:focus,
.cartbounty-type .button:focus,
.cartbounty-preview-contents .button:focus{
	background: #bc8df4;
	color: #fff;
}

.cartbounty-close{
	color: #fff;
	cursor: pointer;
}

#cartbounty-bubbles .button.cartbounty-close:hover,
.cartbounty-preview-contents .button.cartbounty-close:hover,
#cartbounty-bubbles .button.cartbounty-close:focus,
.cartbounty-preview-contents .button.cartbounty-close:focus{
	color: #d2b4b4;
	background: none;
}

#cartbounty-bubbles form{
	display: inline;
}

.cartbounty-type{
	display: inline-block;
	width: 150px;
	margin: 10px 5% 10px 0;
}

#cartbounty-exit-intent-center.cartbounty-radio-active em i,
#cartbounty-exit-intent-center:hover em i,
#cartbounty-exit-intent-fullscreen.cartbounty-radio-active em i,
#cartbounty-exit-intent-fullscreen:hover em i,
#cartbounty-early-capture-center.cartbounty-radio-active em i,
#cartbounty-early-capture-center:hover em i{
    animation: exitIntentfadeIn ease-in-out 10s infinite;
}

#cartbounty-exit-intent-left.cartbounty-radio-active em i,
#cartbounty-exit-intent-left:hover em i{
    animation: exitIntentSlideIn ease-in-out 10s infinite;
}

.cartbounty-radio-active #cartbounty-early-capture-popup-group,
#cartbounty-early-capture-near-button:hover #cartbounty-early-capture-popup-group{
    animation: earlyCaptureFadeUp ease-in-out 10s infinite;
}

.cartbounty-radio-active #cartbounty-near-button-4,
#cartbounty-early-capture-near-button:hover #cartbounty-near-button-4{
    animation: earlyCaptureClick ease-in-out 10s infinite;
    transform-origin: 25% 10%;
}

.cartbounty-settings-group .cartbounty-type label{
	padding-bottom: 0;
}

.cartbounty-colors .wp-color-result-text{
	color: #0071a1;
}

.cartbounty-image,
.cartbounty-settings-group .cartbounty-image{
	display: block;
}

.cartbounty-image em{
	display: block;
	height: 110px;
	margin-bottom: 15px;
  	position: relative;
  	background-color: #dedede;
  	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	opacity: .7;
	overflow: hidden;
	-webkit-transition: 	all .2s cubic-bezier(.38,1.09,.5,.98);
	-moz-transition: 		all .2s cubic-bezier(.38,1.09,.5,.98);
	-o-transition: 			all .2s cubic-bezier(.38,1.09,.5,.98);
	transition: 			all .2s cubic-bezier(.38,1.09,.5,.98);
	overflow: hidden;
}

.cartbounty-image i{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /* WebKit */
	-moz-transform: translate(-50%, -50%); /* Mozilla */
	-o-transform: translate(-50%, -50%); /* Opera */
	-ms-transform: translate(-50%, -50%); /* Internet Explorer */
	transform: translate(-50%, -50%); /* CSS3 */
	background-color: #8370f7;
	height: 60px;
	width: 95px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	z-index: 2;
}

#cartbounty-exit-intent-left .cartbounty-image i{
	width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transform: translate(0, 0); /* WebKit */
	-moz-transform: translate(0, 0); /* Mozilla */
	-o-transform: translate(0, 0); /* Opera */
	-ms-transform: translate(0, 0); /* Internet Explorer */
	transform: translate(0, 0); /* CSS3 */
	border-radius: 3px 0px 0px 0px;
	-moz-border-radius: 3px 0px 0px 0px;
	-webkit-border-radius: 3px 0px 0px 0px;
}

#cartbounty-exit-intent-left.cartbounty-radio-active .cartbounty-image i{
	left: -100%;
}

#cartbounty-exit-intent-fullscreen .cartbounty-image i{
	width: 100%;
	height: 100%;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
}

#cartbounty-exit-intent-fullscreen.cartbounty-radio-active .cartbounty-image i,
#cartbounty-early-capture-center.cartbounty-radio-active .cartbounty-image i{
	top: -50%;
}

#cartbounty-automation-template-rows.cartbounty-radio-active .cartbounty-image i,
#cartbounty-automation-template-columns.cartbounty-radio-active .cartbounty-image i{
	top: 100%;
}

#cartbounty-early-capture-center .cartbounty-image i{
	height: 50px;
	width: 85px;
}

#cartbounty-early-capture-near-button .cartbounty-image i{
	background: none;
	text-align: center;
	height: 35px;
}

.cartbounty-email-template .cartbounty-image i{
	width: 80px;
	height: auto;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	text-align: center;
}

.cartbounty-image .cartbounty-template-top-image{
	width: 100%;
	height: 25px;
	background: #6856d5;
	display: block;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
}

#cartbounty-early-capture-near-button.cartbounty-radio-active .cartbounty-image i{
	top: 120%;
}

#cartbounty-early-capture-near-button .cartbounty-image svg{
	height: 100%;
}

.cartbounty-image img{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /* WebKit */
	-moz-transform: translate(-50%, -50%); /* Mozilla */
	-o-transform: translate(-50%, -50%); /* Opera */
	-ms-transform: translate(-50%, -50%); /* Internet Explorer */
	transform: translate(-50%, -50%); /* CSS3 */
	width: 58px;
}

.cartbounty-email-template img{
	top: 0;
	left: 0;
	position: relative;
	-webkit-transform: translate(0, 0); /* WebKit */
	-moz-transform: translate(0, 0); /* Mozilla */
	-o-transform: translate(0, 0); /* Opera */
	-ms-transform: translate(0, 0); /* Internet Explorer */
	transform: translate(0, 0); /* CSS3 */
	margin: 8px 0 4px;
}

.cartbounty-email-template-light img{
	width: 41px;
}

.cartbounty-email-template-rows img{
	width: 52px;
}

.cartbounty-email-template-columns img{
	width: 62px;
}

.cartbounty-colors{
	display: inline-block;
	margin-right: 3%;
	margin-top: 20px;
}

.cartbounty-settings-group .cartbounty-colors label{
	margin: 0 10px 0 0;
	padding: 0;
	position: relative;
	top: 5px;
	min-width: 50px;
	display: inline-block;
}

.cartbounty-settings-group .cartbounty-colors .wp-picker-input-wrap label{
	top: 0;
	min-width: unset;
	margin-right: 0;
}

.cartbounty-colors .wp-picker-container{
	display: inline;
}

.cartbounty-action-container{
	position: relative;
	display: inline-block;
	margin-top: 20px;
}

.cartbounty-upload-image{
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.cartbounty-upload-image img{
	max-height: 80px;
	width: auto;
  	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	opacity: .7;
}

.cartbounty-upload-image img:hover{
	opacity: 1;
}

.cartbounty-remove-image,
.cartbounty-close-modal{
	display: block;
	width: 23px;
	height: 23px;
	position: absolute;
	top: -6px;
	right: -6px;
	background: white url('../assets/close-icon.svg') no-repeat center;
	background-size: 15px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	opacity: .9;
	cursor: pointer;
}

.cartbounty-remove-image:hover,
.cartbounty-close-modal:hover,
.cartbounty-radio-active em,
.cartbounty-type:hover em,
.cartbounty-radio-active .cartbounty-image em{
	opacity: 1;
}

.cartbounty-type:hover input.cartbounty-radiobutton,
.cartbounty-radiobutton-label:hover .cartbounty-radiobutton,
.cartbounty-type.cartbounty-radio-active:hover input.cartbounty-radiobutton:disabled,
.cartbounty-radiobutton-label:hover input:disabled{
	background-color: #fff;
}

.disabled,
input:disabled,
textarea:disabled,
.selectize-control .selectize-input.disabled{
	opacity: .6;
}

.cartbounty-type.cartbounty-radio-active:hover input.cartbounty-radiobutton,
.cartbounty-type:hover input.cartbounty-radiobutton:checked,
.cartbounty-radiobutton-label:hover .cartbounty-radiobutton:checked{
	background-color: #aa88fc;
}

.cartbounty-exit-intent-additional-style,
.cartbounty-wordpress-additional-style{
	display: block;
	padding: 14px 18px;
	font-style: normal;
	bottom: -100%;
	position: relative;
	z-index: 2;
	height: 100%;
	background: #ffde01;
	line-height: 18px;
}

.cartbounty-radio-active .cartbounty-exit-intent-additional-style,
.cartbounty-radio-active .cartbounty-wordpress-additional-style{
	bottom: 0;
}

.cartbounty-type .button.cartbounty-button{
	margin: 8px 0 0;
	padding: 3px 20px;
}

.cartbounty td.cart_contents a{
	display: inline;
	line-height: 1em;
}

.cartbounty td.cart_contents .cartbounty-abandoned-product a{
	display: inline-block;
	line-height: 1.5em;
}

.cartbounty td.cart_contents img{
	height: 40px;
	width: auto;
	display: inline-block;
	opacity: .8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 3px 10px 3px 0;
}

.cartbounty-abandoned-product,
.status-item-container{
	position: relative;
	display: inline-block;
}

.cartbounty-tooltip-container{
	position: relative;
}

.cartbounty-tooltip{
	visibility: hidden;
	width: 120px;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 8px;
	position: absolute;
	z-index: 1;
	bottom: 122%;
	left: 50%;
	font-size: 12px;
	line-height: 1.5em;
	background: #343434;
	opacity: 0;
	-webkit-transform: translateX(-50%); /* WebKit */
	-moz-transform: translateX(-50%); /* Mozilla */
	-o-transform: translateX(-50%); /* Opera */
	-ms-transform: translateX(-50%); /* Internet Explorer */
	transform: translateX(-50%); /* CSS3 */
	margin-left: -3%;
}

.status-item-container .cartbounty-tooltip{
	right: 140%;
	top: -3px;
	left: auto;
	bottom: auto;
	height: auto;
	margin-left: -40px;
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-transform: translateX(0%); /* WebKit */
	-moz-transform: translateX(0%); /* Mozilla */
	-o-transform: translateX(0%); /* Opera */
	-ms-transform: translateX(0%); /* Internet Explorer */
	transform: translateX(0%); /* CSS3 */
}

.status-item-container.tool .cartbounty-tooltip{
	min-width: 75px;
}

.status-item-container.email-history .cartbounty-tooltip{
	min-width: 142px;
}

.status-item-container.email-history .cartbounty-tooltip{
	min-width: 142px;
}

.cartbounty-tooltip:after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%); /* WebKit */
	-moz-transform: translateX(-50%); /* Mozilla */
	-o-transform: translateX(-50%); /* Opera */
	-ms-transform: translateX(-50%); /* Internet Explorer */
	transform: translateX(-50%); /* CSS3 */
	border-width: 5px;
	border-style: solid;
	border-color: #343434 transparent transparent transparent;
}

.status-item-container .cartbounty-tooltip:after{
	top: 9px;
	left: 100%;
	margin-left: 0px;
	border-color: transparent transparent transparent #343434;
	-webkit-transform: translateX(0%); /* WebKit */
	-moz-transform: translateX(0%); /* Mozilla */
	-o-transform: translateX(0%); /* Opera */
	-ms-transform: translateX(0%); /* Internet Explorer */
	transform: translateX(0%); /* CSS3 */
}

.cartbounty-abandoned-product:hover .cartbounty-tooltip,
.status-item-container:hover .cartbounty-tooltip,
.cartbounty-container-active .cartbounty-tooltip{
	visibility: visible;
	opacity: 1;
	bottom: 115%;
}

.status-item-container:hover .cartbounty-tooltip{
	bottom: auto;
	right: 125%;
}

#contextual-help-wrap .cartbounty-container-active .cartbounty-tooltip{
	bottom: 160%;
}

#cartbounty-table tr:hover img{
	opacity: 1;
}

.cartbounty-country{
	text-decoration: none;
	font-variant: none;
}

#cartbounty-sections{
	margin-right: 20px;
}

#cartbounty-sections li{
	margin: 0;
}

a.cartbounty-tab,
#cartbounty-sections a{
	font-size: 15px;
	line-height: 45px;
	display: block;
	text-decoration: none;
	color: #23282d;
	font-weight: 500;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}

a.cartbounty-tab{
	line-height: 35px;
}

#cartbounty-sections a{
	border-bottom: 1px solid #d1cfcf;
	padding-left: 5px;
	position: relative;
}

#cartbounty-sections li:first-child a{
	border-top: 1px solid #d1cfcf;
}

#cartbounty-sections li a.current,
#cartbounty-sections li a:hover{
	background: #fff;
}

.cartbounty-tab{
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.cartbounty-icon-container{
	float: left;
	display: block;
	width: 45px;
	height: 45px;
	text-align: center;
	position: relative;
}

.cartbounty-tab .cartbounty-icon-container{
	height: 35px;
	width: 40px;
	margin-left: 5px;
}

.cartbounty-section-image .cartbounty-icon-container{
	float: none;
	width: 100%;
	height: 170px;
	background: #dbdada;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.cartbounty-section-item.cartbounty-unavailable:hover .cartbounty-icon-container{
	background: #dbdada;
}

.cartbounty-connected .cartbounty-section-image .cartbounty-icon-container{
	background-color: #ffde00;
}

.cartbounty-section-item:hover .cartbounty-icon-container{
	background: #e0e0e0;
}

.cartbounty-connected.cartbounty-section-item:hover .cartbounty-icon-container{
	background: #ffe400;
}

.cartbounty-tab-name,
.cartbounty-section-name{
	padding: 0 10px 0 47px;
	display: block;
}

.cartbounty-tab-name{
	display: inline;
	padding-left: 0;
	padding-right: 15px;
}

.cartbounty-icon-container img{
	height: 18px;
	width: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.cartbounty-section-image .cartbounty-icon-container img{
	height: 70px
}

.cartbounty-section-image .cartbounty-icon-getresponse img{
	height: 55px
}

.cartbounty-tab img{
	padding-top: 1px;
}

.cartbounty-icon-carts img{
	padding-top: 0;
}

.cartbounty-icon-recovery img,
.cartbounty-icon-getresponse img{
	height: 14px;
}

.cartbounty-icon-mailchimp img{
	height: 20px;
}

.cartbounty-section-item-container{
	margin-bottom: 60px;
}

.cartbounty-section-item{
	border: 1px solid #e9e9e9;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
}

.cartbounty-section-content{
	padding: 15px 30px 70px;
}

.cartbounty-section-content h3 a{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
}

.cartbounty .cartbounty-section-item .cartbounty-button{
	position: absolute;
	bottom: 20px;
	left: 45px;
}

.cartbounty-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

.cartbounty-flex .cartbounty-section-item{
	height: 100%;
	margin-right: 8%;
}

.cartbounty-section-image{
	margin: -1px -1px 0;
	position: relative;
}

.cartbounty-section-image a{
	display: block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.cartbounty-unavailable .cartbounty-section-image a{
	cursor: default;
}

.cartbounty-section-intro{
	margin: 20px 0 40px;
}

.cartbounty .cartbounty-settings-container{
	padding-left: 20px;
	padding-right: 15px;
}

.cartbounty .cartbounty-content .cartbounty-settings-container{
	padding-left: 0;
}

.cartbounty-button-row,
.cartbounty-settings-container .cartbounty-row{
	margin-top: 20px;
}

.cartbounty-settings-container .cartbounty-wordpress-get-additional-step .cartbounty-row{
	margin-top: 0;
}

.cartbounty .cartbounty-button,
.cartbounty #screen-options-wrap .button,
.cartbounty .bulkactions .button,
.cartbounty .pagination-links .button{
	padding: 6px 30px;
	background: #545454;
	color: #fff;
	border: 0px none;
	font-size: 14px;
	line-height: 25px;
	vertical-align: top;
	min-height: auto;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.cartbounty .cartbounty-button:disabled,
.cartbounty #screen-options-wrap .button:disabled,
.cartbounty .pagination-links .button:disabled{
	cursor: default;
}

.cartbounty .cartbounty-button{
	margin: 0 15px 10px 0;
}

.cartbounty .cartbounty-connected .cartbounty-button{
	background-color: #ffe400;
	color: #444;
}

.cartbounty #cartbounty-cart-search .cartbounty-button{
	margin: 0;
}

.cartbounty .cartbounty-button.cartbounty-loading{
	padding-right: 37px;
	padding-left: 23px;
}

.cartbounty .cartbounty-icon-button{
	padding-left: 10px;
	padding-right: 10px;
}

.cartbounty-button:disabled,
.cartbounty-button:disabled:hover,
.cartbounty-button:disabled:focus{
	background: rgba(84,84,84,.5);
	border-color: rgba(222,222,222,.75);
	color: rgba(255,255,255,.5);
}

.cartbounty-loading:after{
	position: absolute;
	right: 17px;
	top: 32%;
	z-index: 1;
	width: 8px;
	height: 8px;
	margin: 0;
	border: 3px solid #7e7e7e;
	border-radius: 50%;
	border-top: 3px solid #ffde00;
	animation: spin 2s linear infinite;
	content: '';
	opacity: 1;
}

.button-primary.cartbounty-loading:after{
	border-color: #d1beff;
	border-top-color: #ffde00;
}

.cartbounty-loading .selectize-input:after,
.cartbounty-loading svg{
	opacity: 0;
}

.cartbounty .cartbounty-button:hover,
.wp-picker-container .wp-color-result.button:hover .wp-color-result-text,
.wp-picker-container .wp-color-result.button:focus .wp-color-result-text,
.wp-picker-input-wrap .button.wp-picker-clear:hover,
.cartbounty .bulkactions .button:hover,
.cartbounty .pagination-links .button:hover,
.cartbounty .cartbounty-preview-active .cartbounty-button{
	background: #414141;
	color: #fff;
}

.cartbounty .cartbounty-button:focus,
.cartbounty .bulkactions .button:focus,
.cartbounty .pagination-links .button:focus,
.cartbounty .cartbounty-progress.button-secondary.cartbounty-loading{
	background: #2a2a2a;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

.cartbounty #cartbounty-page-wrapper .button-primary,
.cartbounty #screen-options-wrap .button-primary{
	background: #976dfb;
}

.cartbounty #cartbounty-page-wrapper .button-primary:hover,
.cartbounty #screen-options-wrap .button-primary:hover{
	background: #8157e6;
}

.cartbounty #cartbounty-page-wrapper .button-primary:focus,
.cartbounty #screen-options-wrap .button-primary:focus{
	background: #7e5cd0;
}

.cartbounty .button-secondary,
.wp-picker-container .wp-color-result.button,
.wp-picker-input-wrap .button.wp-picker-clear,
.wp-picker-container .wp-color-result.button .wp-color-result-text,
.cartbounty .bulkactions .button,
.cartbounty .pagination-links .button{
	background: transparent;
	border: 1px solid #d1cfcf;
	color: #535353;
	padding-top: 5px;
	padding-bottom: 5px;
}

.wp-picker-container .wp-color-result.button{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 38px;
}

.wp-picker-container .wp-color-result.button .wp-color-result-text,
.wp-picker-input-wrap .button.wp-picker-clear{
	padding-left: 30px;
	padding-right: 30px;
	background: #f1f1f1;
	color: #535353;
	line-height: 25px;
	font-size: 14px;
}

.wp-picker-container .wp-color-result.button .wp-color-result-text{
	border: 0px none;
	border-left: 1px solid #d1cfcf;
}

.wp-picker-input-wrap .button.wp-picker-clear{
	background: transparent;
	padding-left: 20px;
	padding-right: 20px;
}

.cartbounty .cartbounty-button:hover,
.wp-picker-container .wp-color-result.button:hover .wp-color-result-text,
.wp-picker-input-wrap .button.wp-picker-clear:hover,
.wp-picker-container .wp-color-result.button:focus .wp-color-result-text,
.wp-picker-input-wrap .button.wp-picker-clear:focus,
.cartbounty .bulkactions .button:hover,
.cartbounty .bulkactions .button:focus,
.cartbounty .pagination-links .button:hover,
.cartbounty .pagination-links .button:focus,
.cartbounty .cartbounty-progress.button-secondary.cartbounty-loading{
	border-color: #414141;
	color: #fff;
}

.wp-picker-container .wp-color-result.button:hover,
.wp-picker-container .wp-color-result.button:focus{
	border-color: #414141;
}

.cartbounty .cartbounty-button:focus{
	border-color: #2a2a2a;
	color: #fff;
}

.cartbounty .cartbounty-titles-column{
	padding-right: 3%;
}

.cartbounty-titles-column h4,
.cartbounty-settings-group h4{
	font-size: 16px;
	line-height: 26px;
	margin: 25px 0 10px;
}

.cartbounty-titles-column h4,
.cartbounty-settings-column .cartbounty-settings-group:first-child h4{
	margin-top: 0;
}

.cartbounty .cartbounty-titles-column .cartbounty-titles-column-description{
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 20px;
}

.cartbounty .cartbounty-text,
.cartbounty .cartbounty-select,
.cartbounty .bulkactions select,
.cartbounty #cartbounty_carts_per_page,
.cartbounty #current-page-selector,
#cartbounty-content-container .cartbounty-color-picker.cartbounty-text,
.cartbounty .selectize-control,
.cartbounty .selectize-input,
.cartbounty .selectize-dropdown,
.cartbounty .selectize-input input{
	display: block;
	width: 100%;
	border: 1px solid #e2e2e2;
	padding: 8px 20px;
	font-size: 14px;
	line-height: 20px;
	max-width: unset;
	background-color: #fdfdfd;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
	min-height: unset;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.cartbounty-input-with-button .cartbounty-text{
	width: 80%;
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 10px;
}

.cartbounty .selectize-control,
.cartbounty .selectize-control:hover,
.cartbounty .selectize-control:focus{
	background: none;
	padding: 0;
	border: 0px none;
	user-select: none;
	margin-bottom: 10px;
}

.cartbounty .cartbounty-text:hover,
.cartbounty .cartbounty-select:hover,
.cartbounty .cartbounty-text:focus,
.cartbounty .cartbounty-select:focus,
.cartbounty .bulkactions select:hover,
.cartbounty .bulkactions select:focus,
.cartbounty #cartbounty_carts_per_page:hover,
.cartbounty #cartbounty_carts_per_page:focus,
.cartbounty #current-page-selector:hover,
.cartbounty #current-page-selector:focus,
.cartbounty .selectize-input:hover,
.cartbounty .selectize-input:focus{
	background-color: #fff;
	color: #32373c;
	border-color: #cecece;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.cartbounty .cartbounty-select,
.cartbounty .bulkactions select{
	background-position: right 15px top 55%;
}

#cartbounty-content-container .cartbounty-color-picker.cartbounty-text{
	width: 90px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;
}

.cartbounty-settings-group{
	margin-bottom: 25px;
}

.cartbounty-settings-column .cartbounty-settings-group:last-child,
.cartbounty .cartbounty-titles-column{
	margin-bottom: 20px;
}

.cartbounty-settings-group label{
	font-size: 14px;
	line-height: 25px;
	padding-bottom: 6px;
	display: inline-block;
}

.cartbounty-toggle label{
	padding-bottom: 0;
}

.license-status{
	border-left: 1px solid #cfcfcf;
	margin-left: 12px;
	padding-left: 12px;
}

.cartbounty-icon,
.license-status-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 7px;
	position: relative;
	top: 3px;
}

.cartbounty-settings-container .cartbounty-row{
	border-bottom: 1px solid #e2e2e2;
}

.cartbounty-settings-container .cartbounty-row:first-child{
	margin-bottom: 0;
}

.cartbounty .cartbounty-additional-information{
	font-size: 12px;
	line-height: 18px;
	margin: 10px 0 0;
}

#cartbounty-cart-search .cartbounty-additional-information{
	margin-top: 0;
}

.cartbounty-checked-parent .cartbounty-hidden{
	display: block;
}

.cartbounty-checked i.cartbounty-hidden{
	display: inline;
}

#cartbounty-cart-search.cartbounty-checked i.cartbounty-hidden{
	margin-top: 10px;
	display: inline-block;
}

i.cartbounty-hidden,
em.cartbounty-connection,
#cartbounty-search-submit i,
#cartbounty-cart-statuses em{
	font-style: normal;
}

.cartbounty-connection{
	position: absolute;
	top: 15px;
	right: 20px;
	padding-right: 18px;
	z-index: 1;
}

#cartbounty-sections .cartbounty-connection{
	top: 42%;
}

.cartbounty-connection:after{
	position: absolute;
	right: 0;
	top: 32%;
	z-index: 1;
	width: 6px;
	height: 6px;
	background-color: #5cb521;
	margin: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	content: '';
}

#cartbounty-cart-search{
	text-align: right;
}

.cartbounty #cartbounty-cart-search-input,
.cartbounty .bulkactions select,
.cartbounty .bulkactions .selectize-control,
.cartbounty #current-page-selector{
	max-width: 200px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0;
}

.cartbounty #current-page-selector{
	width: auto;
	margin-right: 5px;
}

.cartbounty .tablenav .paging-input{
	padding-left: 5px;
	padding-right: 5px;
}

#cartbounty-search-submit{
	margin-right: 0;
}

#cartbounty-cart-statuses{
	margin-top: 10px;
}

#cartbounty-cart-statuses a,
.cartbounty-section-content h3 a{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}

#cartbounty-cart-statuses em{
	padding: 0 5px;
}

#cartbounty-content-container{
	padding-top: 30px;
}

#cartbounty-table{
	padding-top: 15px;
}

.cartbounty .bulkactions{
	width: 50%;
	padding: 0;
	line-height: 10px;
}

.cartbounty .tablenav{
	margin: 10px 0 10px;
	padding: 0;
	height: auto;
}

.cartbounty .tablenav.bottom{
	margin-bottom: 0;
}

.cartbounty .pagination-links .button{
	padding-right: 15px;
	padding-left: 15px;
}

.cartbounty .tablenav .tablenav-pages{
	line-height: 35px;
	margin: 0;
}

.tablenav .one-page .displaying-num{
	margin: 0;
}

.cartbounty #message{
	margin: 15px 0 0;
}

#cartbounty-no-carts-message{
	margin-top: 40px;
}

#cartbounty-near-button-1,
#cartbounty-near-button-4{
	fill:#8370f7;
}

#cartbounty-near-button-2{
	fill:#6856d5;
}

#cartbounty-near-button-3{
	fill:#ffde00;
}

.cartbounty-flex-container{
	display: flex;
	flex-flow: row wrap;
}

.cartbounty-step{
	border: 1px solid #e2e2e2;
	border-bottom: 0px none;
	background: #fafafa;
}

.cartbounty-step.cartbounty-step-unavailable.cartbounty-step-active{
	border-color: #eecf00;
}

.cartbounty-step-unavailable{
	overflow: hidden;
	position: relative;
}

.cartbounty-wordpress-get-additional-step{
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffde01;
	z-index: 10;
}

.cartbounty-wordpress-get-additional-step:hover{
	background: #ffe63d;
}

.cartbounty-step-unavailable.cartbounty-step-active .cartbounty-wordpress-get-additional-step{
	bottom: 0;
}

.cartbounty-step-opener,
.cartbounty-step-contents,
.cartbounty-wordpress-get-additional-step{
	padding: 0 35px;
}

.cartbounty-step-opener:hover{
	background: #fff;
}

.cartbounty-step.cartbounty-step-active{
	background: #f5f5f5;
}

.cartbounty-step-opener,
.cartbounty-wordpress-get-additional-step{
	cursor: pointer;
	padding-top: 20px;
}

.cartbounty-step-disabled .cartbounty-step-opener{
	cursor: default;
}

.cartbounty-step-active .cartbounty-step-opener .cartbounty-row,
.cartbounty-step:last-child{
	border-bottom: 1px solid #e2e2e2;
}

.cartbounty-step:first-child,
.cartbounty-step:first-child .cartbounty-step-opener{
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.cartbounty-step:last-child,
.cartbounty-step:last-child .cartbounty-step-opener{
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.cartbounty-step-active.cartbounty-step:last-child .cartbounty-step-opener{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.cartbounty-step.cartbounty-step-unavailable.cartbounty-step-active .cartbounty-step-opener{
	background: #fafafa;
}

.cartbounty-step.cartbounty-step-unavailable.cartbounty-step-active .cartbounty-step-opener .cartbounty-row{
	opacity: 0;
	transform: translateY(50%);
}

.cartbounty-step-contents{
	display: none;
}

.cartbounty-step-active .cartbounty-step-contents{
	display: block;
}

.cartbounty-step-opener .cartbounty-row,
.cartbounty-step-opener .cartbounty-settings-column .cartbounty-row,
.cartbounty-step-contents .cartbounty-row:last-child,
.cartbounty-step-unavailable .cartbounty-row,
.cartbounty-step-unavailable.cartbounty-step-active .cartbounty-row{
	border-bottom: 0 none;
}

.cartbounty-step-opener .cartbounty-row{
	margin-top: 0;
}

.cartbounty-step-opener .cartbounty-titles-column{
	margin-bottom: 20px;
}

.cartbounty-checked-parent .cartbounty-settings-group.cartbounty-hidden,
.cartbounty-checked i.cartbounty-hidden,
.cartbounty-step-active .cartbounty-step-contents{
	animation: fadeIn 0.5s;
}

.cartbounty-step-trigger{
	display: inline-block;
	width: 20px;
	height: 8px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
	background-size: 16px 16px;
	transform-origin: 38% 50%;
}

.cartbounty-step-active .cartbounty-step-trigger{
	-webkit-transform: rotate(180deg); /* WebKit */
	-moz-transform: rotate(180deg); /* Mozilla */
	-o-transform: rotate(180deg); /* Opera */
	-ms-transform: rotate(180deg); /* Internet Explorer */
	transform: rotate(180deg); /* CSS3 */
}

.cartbounty-automation-name .cartbounty-step-trigger{
	position: absolute;
	right: 15px;
	top: 10px;
	display: none;
}

.cartbounty-stats-container{
	display: flex;
	flex-flow: row wrap;
}

.cartbounty-stats{
	margin-right: 12%;
	position: relative;
}

.cartbounty-stats i{
	font-style: normal;
}

.cartbounty-stats p{
	padding: 0;
	margin: 0 0 10px;
	font-size: 22px;
	line-height: 25px;
}

.cartbounty-stats-count{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.cartbounty-stats-count i,
.cartbounty-stats-count p{
	display: none;
}

.cartbounty-stats-count .button{
	margin-top: 5px;
}

.cartbounty-stats:last-child .cartbounty-stats-percentage,
.cartbounty-stats:last-child .cartbounty-stats-count{
	transition-delay: 0.05s;
}

.cartbounty-step-opener:hover .cartbounty-stats-percentage{
	opacity: 0;
}

.cartbounty-step-opener:hover .cartbounty-stats-count{
	opacity: 1;
}

.cartbounty-automation-status{
	text-align: right;
	padding-right: 15px;
	display: inline-block;
}

.cartbounty-trigger-container{
	text-align: right;
	padding-top: 10px;
}

.cartbounty-automation-number{
	border: 1px solid #e2e2e2;
	width: 35px;
	height: 35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 33px;
	font-size: 16px;
	position: absolute;
	left: 0;
	top: 0;
}

.cartbounty-email-history-item .cartbounty-automation-number{
	height: 15px;
	width: 15px;
	line-height: 15px;
	font-size: 10px;
	top: 1px;
}

.cartbounty-automation-name{
	padding-left: 40px;
}

.cartbounty-automation-name h3,
.cartbounty-automation-name p{
	margin: 0;
	padding: 0;
}

.cartbounty-automation-name p{
	padding-top: 5px;
}

.cartbounty-stats i{
	opacity: .4;
}

.cartbounty-step-disabled{
	opacity: .6;
}

.cartbounty-step-disabled .cartbounty-step-opener{
	opacity: .3;
}

.cartbounty-step-disabled.cartbounty-step-unavailable:hover{
	opacity: 1;
}

.cartbounty-email-history-list{
	margin: 3px 0 2px;
	display: inline-block;
}

.cartbounty-email-history-list *{
	font-style: normal;
}

.cartbounty-email-history-item{
	display: block;
	position: relative;
	text-align: left;
	padding-left: 24px;
	padding-bottom: 3px;
}

.cartbounty-icon-button-container{
	position: relative;
}

.cartbounty-content-creation{
	flex-wrap: nowrap;
	align-items: flex-start;
}

.cartbounty-button svg,
.cartbounty-icon-button svg{
	fill: #535353;
}

.cartbounty-button:hover svg,
.cartbounty-button:focus svg,
.cartbounty-icon-button:hover svg,
.cartbounty-icon-button:focus svg,
.cartbounty-preview-active .cartbounty-icon-button svg{
	fill: #fff;
}

.cartbounty .cartbounty-icon-button{
	margin: 0 0 0 10px;
	padding: 0;
	width: 50px;
	height: 38px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cartbounty-icon-button svg{
	height: 20px;
	width: auto;
}

.cartbounty-preview-contents{
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 5;
	margin-top: 8px;
	margin-left: 0;
	display: none;
	float: none;
}

.cartbounty-preview-active .cartbounty-preview-contents{
	display: block;
}

.cartbounty-preview-contents img{
	width: 100%;
	height: auto;
}

@media screen and (min-width: 1900px) {
	.cartbounty .cartbounty-sidebar,
	.cartbounty .cartbounty-titles-column{
		width: 18%;
	}

	.cartbounty .cartbounty-content,
	.cartbounty .cartbounty-settings-column{
		width: 82%;
	}

	.cartbounty-section-intro,
	.cartbounty-additional-information{
		max-width: 70%;
	}

	#cartbounty-cart-search .cartbounty-additional-information{
		max-width: 100%;
	}

	.cartbounty .cartbounty-full-width{
		width: 100%;
	}
}

@media screen and (max-width: 1500px) {
	.cartbounty-stats-container{
		justify-content: space-between;
		margin-bottom: 5px;
	}

	.cartbounty-flex .cartbounty-section-item{
		margin-right: 0;
	}

	.cartbounty-section-item-container{
		margin-bottom: 30px;
	}

	.cartbounty-section-image .cartbounty-icon-container{
		height: 150px;
	}

	.cartbounty-section-image .cartbounty-icon-container img{
		height: 60px
	}

	.cartbounty-section-image .cartbounty-icon-getresponse img{
		height: 45px
	}

	.cartbounty-settings-group{
		margin-bottom: 15px;
	}

	.cartbounty-input-with-button .cartbounty-text{
		width: 70%;
	}

	.cartbounty-stats{
		margin-right: 0;
	}
}

@media screen and (max-width: 1199px) {
	.cartbounty .column-time,
	.cartbounty .column-cart_contents{
		width: auto;
	}

	.cartbounty-input-with-button .cartbounty-text{
		width: 60%;
	}

	.cartbounty-automation-status{
		padding-right: 15px;
	}

	.cartbounty-automation-name .cartbounty-step-trigger{
		display: inline-block;
	}

	.cartbounty-step-trigger{
		display: none;
	}

	.cartbounty-step-opener .cartbounty-titles-column{
		margin-bottom: 10px;
	}

	.cartbounty-trigger-container{
		text-align: left;
		margin: 0 0 20px;
		padding-top: 0;
	}
}

@media screen and (max-width: 991px) {
	.cartbounty-titles-column h4{
		margin-bottom: 5px;
	}

	.cartbounty-titles-column{
		margin-bottom: 20px;
	}

	#cartbounty-mobile-sections{
		margin-bottom: 20px;
	}

	.cartbounty-settings-group .cartbounty-colors label{
		vertical-align: top;
	}

	.cartbounty .tablenav.top .tablenav-pages{
		display: none;
	}

	.cartbounty .top .bulkactions{
		width: 100%;
	}

	.cartbounty .bulkactions select,
	.cartbounty .bulkactions .selectize-control{
		max-width: 150px;
	}

	#cartbounty-search-submit{
		padding-left: 15px;
		padding-right: 15px;
	}

	#cartbounty-cart-search .cartbounty-icon{
		height: 25px;
		margin-right: 0;
	}

	.cartbounty .cartbounty-sidebar .cartbounty-select{
		display: block;
	}

	.cartbounty-wordpress-get-additional-step .cartbounty-automation-name{
		padding-left: 0;
	}

	.cartbounty-automation-status{
		padding-right: 0;
	}

	.cartbounty-stats-container{
		margin-bottom: 0;
	}

	.cartbounty-stats{
		width: auto;
		margin-right: 12%;
	}
}

@media screen and (max-width: 782px) {
	.cartbounty-flex{
		display: block;
		flex-wrap: unset;
	}

	.cartbounty-flex .cartbounty-section-item{
		height: auto;
	}

	.cartbounty-section-content{
		padding-bottom: 30px;
	}

	.cartbounty .cartbounty-section-item .button{
		position: relative;
		bottom: auto;
		left: auto;
		margin-top: 10px;
	}

	#cartbounty-table .column-id{
		width: 100%;
	}

	.cartbounty .cartbounty-text,
	.cartbounty .selectize-input,
	.cartbounty .selectize-dropdown,
	.cartbounty .bulkactions select,
	.cartbounty #cartbounty_carts_per_page,
	.cartbounty #current-page-selector{
		padding-left: 15px;
		padding-right: 15px;
	}

	.cartbounty .cartbounty-select,
	.cartbounty .bulkactions select{
		background-position: right 10px top 55%;
	}

	.cartbounty .cartbounty-titles-column{
		padding-right: 0;
	}

	.cartbounty .cartbounty-settings-container,
	.cartbounty .cartbounty-content .cartbounty-settings-container{
		padding-left: 2%;
		padding-right: 2%;
	}

	#cartbounty-page-wrapper{
		padding: 10px 15px 10px 05px;
	}

	#screen-meta-links{
		margin-bottom: 10px;
	}

	#wpbody-content{
		padding-bottom: 20px;
	}

	.cartbounty .tablenav .paging-input{
		padding-left: 0;
		padding-right: 0;
	}

	.cartbounty .tablenav.bottom .displaying-num{
		display: block;
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
	}

	.cartbounty .bulkactions{
		width: 100%;
	}

	#cartbounty-cart-search{
		text-align: center;
		float: unset;
		clear: both;
	}

	#cartbounty-table .check-column input{
		margin-bottom: 0;
	}

	#cartbounty-table table thead th,
	#cartbounty-table .wp-list-table td{
		vertical-align: middle;
	}

	.cartbounty table .status.column-status{
		overflow: visible;
	}

	.cartbounty .cartbounty-icon-button{
		margin: 10px 10px 0 0;
	}

	.cartbounty-content-creation{
		flex-wrap: wrap;
		display: flex;
	}

	.cartbounty-preview-contents{
		right: auto;
		left: 0;
		margin-top: 10px;
	}

	#cartbounty-cart-statuses{
		float: none;
	}
}

@media screen and (max-width: 600px) {
	.cartbounty h1{
		margin: 0;
		padding: 0;
	}

	.cartbounty-tab{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.tablenav.bottom .tablenav-pages{
		margin-top: 10px;
		margin-bottom: 0;
	}

	.cartbounty-settings-group .cartbounty-colors label{
		padding-bottom: 10px;
	}

	.cartbounty-input-with-button .cartbounty-text{
		width: 100%;
	}

	.cartbounty-automation-number{
		left: 8px;
	}

	.cartbounty-step-opener,
	.cartbounty-step-contents{
		padding-left: 20px;
		padding-right: 20px;
	}

	.cartbounty-stats{
		width: 50%;
		margin-right: 0;
	}
}

/* Modal popup start */
.cartbounty-modal-overlay{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.7);display:flex;justify-content:center;align-items:center;z-index:159910}.cartbounty-modal-content-container{background-color:#fff;padding:0;border-radius:4px;overflow-y:auto;box-sizing:border-box;width:90%;max-height:90%;max-width:1200px;position:relative}.cartbounty-close-modal{top:20px;right:20px;border:4px solid #fff;outline:0;opacity:0;visibility:hidden}.content-loaded .cartbounty-close-modal{opacity:1;visibility:visible}.cartbounty-modal-content{margin:0;padding:0;line-height:0}.fadeOutSlow{animation:fadeOutSlow .6s 4s;animation-fill-mode:forwards}@media screen and (max-width:600px){.cartbounty-close-modal{top:5px;right:5px}}.cartbounty-modal{display:none}.cartbounty-modal.is-open{display:block}.cartbounty-modal[aria-hidden=false] .cartbounty-modal-content-container,.cartbounty-modal[aria-hidden=false] .cartbounty-modal-overlay{animation:fadeIn .3s ease-in-out}.cartbounty-modal .cartbounty-modal-content-container,.cartbounty-modal .cartbounty-modal-overlay{will-change:transform}
/* Modal popup end */

/* Responsive grid layout start */
.cartbounty-visible-xs{display:none !important;}@media (max-width:991px){.cartbounty-hidden-xs{display:none !important;}.cartbounty-visible-xs {display:block !important;}}.cartbounty-row *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.cartbounty-row{margin-right:-15px;margin-left:-15px}.cartbounty-col-lg-1,.cartbounty-col-lg-10,.cartbounty-col-lg-11,.cartbounty-col-lg-12,.cartbounty-col-lg-2,.cartbounty-col-lg-3,.cartbounty-col-lg-4,.cartbounty-col-lg-5,.cartbounty-col-lg-6,.cartbounty-col-lg-7,.cartbounty-col-lg-8,.cartbounty-col-lg-9,.cartbounty-col-md-1,.cartbounty-col-md-10,.cartbounty-col-md-11,.cartbounty-col-md-12,.cartbounty-col-md-2,.cartbounty-col-md-3,.cartbounty-col-md-4,.cartbounty-col-md-5,.cartbounty-col-md-6,.cartbounty-col-md-7,.cartbounty-col-md-8,.cartbounty-col-md-9,.cartbounty-col-sm-1,.cartbounty-col-sm-10,.cartbounty-col-sm-11,.cartbounty-col-sm-12,.cartbounty-col-sm-2,.cartbounty-col-sm-3,.cartbounty-col-sm-4,.cartbounty-col-sm-5,.cartbounty-col-sm-6,.cartbounty-col-sm-7,.cartbounty-col-sm-8,.cartbounty-col-sm-9,.cartbounty-col-xs-1,.cartbounty-col-xs-10,.cartbounty-col-xs-11,.cartbounty-col-xs-12,.cartbounty-col-xs-2,.cartbounty-col-xs-3,.cartbounty-col-xs-4,.cartbounty-col-xs-5,.cartbounty-col-xs-6,.cartbounty-col-xs-7,.cartbounty-col-xs-8,.cartbounty-col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.cartbounty-col-xs-1,.cartbounty-col-xs-10,.cartbounty-col-xs-11,.cartbounty-col-xs-12,.cartbounty-col-xs-2,.cartbounty-col-xs-3,.cartbounty-col-xs-4,.cartbounty-col-xs-5,.cartbounty-col-xs-6,.cartbounty-col-xs-7,.cartbounty-col-xs-8,.cartbounty-col-xs-9{float:left}.cartbounty-col-xs-12{width:100%}.cartbounty-col-xs-11{width:91.66666667%}.cartbounty-col-xs-10{width:83.33333333%}.cartbounty-col-xs-9{width:75%}.cartbounty-col-xs-8{width:66.66666667%}.cartbounty-col-xs-7{width:58.33333333%}.cartbounty-col-xs-6{width:50%}.cartbounty-col-xs-5{width:41.66666667%}.cartbounty-col-xs-4{width:33.33333333%}.cartbounty-col-xs-3{width:25%}.cartbounty-col-xs-2{width:16.66666667%}.cartbounty-col-xs-1{width:8.33333333%}.cartbounty-col-xs-pull-12{right:100%}.cartbounty-col-xs-pull-11{right:91.66666667%}.cartbounty-col-xs-pull-10{right:83.33333333%}.cartbounty-col-xs-pull-9{right:75%}.cartbounty-col-xs-pull-8{right:66.66666667%}.cartbounty-col-xs-pull-7{right:58.33333333%}.cartbounty-col-xs-pull-6{right:50%}.cartbounty-col-xs-pull-5{right:41.66666667%}.cartbounty-col-xs-pull-4{right:33.33333333%}.cartbounty-col-xs-pull-3{right:25%}.cartbounty-col-xs-pull-2{right:16.66666667%}.cartbounty-col-xs-pull-1{right:8.33333333%}.cartbounty-col-xs-pull-0{right:auto}.cartbounty-col-xs-push-12{left:100%}.cartbounty-col-xs-push-11{left:91.66666667%}.cartbounty-col-xs-push-10{left:83.33333333%}.cartbounty-col-xs-push-9{left:75%}.cartbounty-col-xs-push-8{left:66.66666667%}.cartbounty-col-xs-push-7{left:58.33333333%}.cartbounty-col-xs-push-6{left:50%}.cartbounty-col-xs-push-5{left:41.66666667%}.cartbounty-col-xs-push-4{left:33.33333333%}.cartbounty-col-xs-push-3{left:25%}.cartbounty-col-xs-push-2{left:16.66666667%}.cartbounty-col-xs-push-1{left:8.33333333%}.cartbounty-col-xs-push-0{left:auto}.cartbounty-col-xs-offset-12{margin-left:100%}.cartbounty-col-xs-offset-11{margin-left:91.66666667%}.cartbounty-col-xs-offset-10{margin-left:83.33333333%}.cartbounty-col-xs-offset-9{margin-left:75%}.cartbounty-col-xs-offset-8{margin-left:66.66666667%}.cartbounty-col-xs-offset-7{margin-left:58.33333333%}.cartbounty-col-xs-offset-6{margin-left:50%}.cartbounty-col-xs-offset-5{margin-left:41.66666667%}.cartbounty-col-xs-offset-4{margin-left:33.33333333%}.cartbounty-col-xs-offset-3{margin-left:25%}.cartbounty-col-xs-offset-2{margin-left:16.66666667%}.cartbounty-col-xs-offset-1{margin-left:8.33333333%}.cartbounty-col-xs-offset-0{margin-left:0}@media (min-width:783px){.cartbounty-col-sm-1,.cartbounty-col-sm-10,.cartbounty-col-sm-11,.cartbounty-col-sm-12,.cartbounty-col-sm-2,.cartbounty-col-sm-3,.cartbounty-col-sm-4,.cartbounty-col-sm-5,.cartbounty-col-sm-6,.cartbounty-col-sm-7,.cartbounty-col-sm-8,.cartbounty-col-sm-9{float:left}.cartbounty-col-sm-12{width:100%}.cartbounty-col-sm-11{width:91.66666667%}.cartbounty-col-sm-10{width:83.33333333%}.cartbounty-col-sm-9{width:75%}.cartbounty-col-sm-8{width:66.66666667%}.cartbounty-col-sm-7{width:58.33333333%}.cartbounty-col-sm-6{width:50%}.cartbounty-col-sm-5{width:41.66666667%}.cartbounty-col-sm-4{width:33.33333333%}.cartbounty-col-sm-3{width:25%}.cartbounty-col-sm-2{width:16.66666667%}.cartbounty-col-sm-1{width:8.33333333%}.cartbounty-col-sm-pull-12{right:100%}.cartbounty-col-sm-pull-11{right:91.66666667%}.cartbounty-col-sm-pull-10{right:83.33333333%}.cartbounty-col-sm-pull-9{right:75%}.cartbounty-col-sm-pull-8{right:66.66666667%}.cartbounty-col-sm-pull-7{right:58.33333333%}.cartbounty-col-sm-pull-6{right:50%}.cartbounty-col-sm-pull-5{right:41.66666667%}.cartbounty-col-sm-pull-4{right:33.33333333%}.cartbounty-col-sm-pull-3{right:25%}.cartbounty-col-sm-pull-2{right:16.66666667%}.cartbounty-col-sm-pull-1{right:8.33333333%}.cartbounty-col-sm-pull-0{right:auto}.cartbounty-col-sm-push-12{left:100%}.cartbounty-col-sm-push-11{left:91.66666667%}.cartbounty-col-sm-push-10{left:83.33333333%}.cartbounty-col-sm-push-9{left:75%}.cartbounty-col-sm-push-8{left:66.66666667%}.cartbounty-col-sm-push-7{left:58.33333333%}.cartbounty-col-sm-push-6{left:50%}.cartbounty-col-sm-push-5{left:41.66666667%}.cartbounty-col-sm-push-4{left:33.33333333%}.cartbounty-col-sm-push-3{left:25%}.cartbounty-col-sm-push-2{left:16.66666667%}.cartbounty-col-sm-push-1{left:8.33333333%}.cartbounty-col-sm-push-0{left:auto}.cartbounty-col-sm-offset-12{margin-left:100%}.cartbounty-col-sm-offset-11{margin-left:91.66666667%}.cartbounty-col-sm-offset-10{margin-left:83.33333333%}.cartbounty-col-sm-offset-9{margin-left:75%}.cartbounty-col-sm-offset-8{margin-left:66.66666667%}.cartbounty-col-sm-offset-7{margin-left:58.33333333%}.cartbounty-col-sm-offset-6{margin-left:50%}.cartbounty-col-sm-offset-5{margin-left:41.66666667%}.cartbounty-col-sm-offset-4{margin-left:33.33333333%}.cartbounty-col-sm-offset-3{margin-left:25%}.cartbounty-col-sm-offset-2{margin-left:16.66666667%}.cartbounty-col-sm-offset-1{margin-left:8.33333333%}.cartbounty-col-sm-offset-0{margin-left:0}}@media (min-width:992px){.cartbounty-col-md-1,.cartbounty-col-md-10,.cartbounty-col-md-11,.cartbounty-col-md-12,.cartbounty-col-md-2,.cartbounty-col-md-3,.cartbounty-col-md-4,.cartbounty-col-md-5,.cartbounty-col-md-6,.cartbounty-col-md-7,.cartbounty-col-md-8,.cartbounty-col-md-9{float:left}.cartbounty-col-md-12{width:100%}.cartbounty-col-md-11{width:91.66666667%}.cartbounty-col-md-10{width:83.33333333%}.cartbounty-col-md-9{width:75%}.cartbounty-col-md-8{width:66.66666667%}.cartbounty-col-md-7{width:58.33333333%}.cartbounty-col-md-6{width:50%}.cartbounty-col-md-5{width:41.66666667%}.cartbounty-col-md-4{width:33.33333333%}.cartbounty-col-md-3{width:25%}.cartbounty-col-md-2{width:16.66666667%}.cartbounty-col-md-1{width:8.33333333%}.cartbounty-col-md-pull-12{right:100%}.cartbounty-col-md-pull-11{right:91.66666667%}.cartbounty-col-md-pull-10{right:83.33333333%}.cartbounty-col-md-pull-9{right:75%}.cartbounty-col-md-pull-8{right:66.66666667%}.cartbounty-col-md-pull-7{right:58.33333333%}.cartbounty-col-md-pull-6{right:50%}.cartbounty-col-md-pull-5{right:41.66666667%}.cartbounty-col-md-pull-4{right:33.33333333%}.cartbounty-col-md-pull-3{right:25%}.cartbounty-col-md-pull-2{right:16.66666667%}.cartbounty-col-md-pull-1{right:8.33333333%}.cartbounty-col-md-pull-0{right:auto}.cartbounty-col-md-push-12{left:100%}.cartbounty-col-md-push-11{left:91.66666667%}.cartbounty-col-md-push-10{left:83.33333333%}.cartbounty-col-md-push-9{left:75%}.cartbounty-col-md-push-8{left:66.66666667%}.cartbounty-col-md-push-7{left:58.33333333%}.cartbounty-col-md-push-6{left:50%}.cartbounty-col-md-push-5{left:41.66666667%}.cartbounty-col-md-push-4{left:33.33333333%}.cartbounty-col-md-push-3{left:25%}.cartbounty-col-md-push-2{left:16.66666667%}.cartbounty-col-md-push-1{left:8.33333333%}.cartbounty-col-md-push-0{left:auto}.cartbounty-col-md-offset-12{margin-left:100%}.cartbounty-col-md-offset-11{margin-left:91.66666667%}.cartbounty-col-md-offset-10{margin-left:83.33333333%}.cartbounty-col-md-offset-9{margin-left:75%}.cartbounty-col-md-offset-8{margin-left:66.66666667%}.cartbounty-col-md-offset-7{margin-left:58.33333333%}.cartbounty-col-md-offset-6{margin-left:50%}.cartbounty-col-md-offset-5{margin-left:41.66666667%}.cartbounty-col-md-offset-4{margin-left:33.33333333%}.cartbounty-col-md-offset-3{margin-left:25%}.cartbounty-col-md-offset-2{margin-left:16.66666667%}.cartbounty-col-md-offset-1{margin-left:8.33333333%}.cartbounty-col-md-offset-0{margin-left:0}}@media (min-width:1200px){.cartbounty-col-lg-1,.cartbounty-col-lg-10,.cartbounty-col-lg-11,.cartbounty-col-lg-12,.cartbounty-col-lg-2,.cartbounty-col-lg-3,.cartbounty-col-lg-4,.cartbounty-col-lg-5,.cartbounty-col-lg-6,.cartbounty-col-lg-7,.cartbounty-col-lg-8,.cartbounty-col-lg-9{float:left}.cartbounty-col-lg-12{width:100%}.cartbounty-col-lg-11{width:91.66666667%}.cartbounty-col-lg-10{width:83.33333333%}.cartbounty-col-lg-9{width:75%}.cartbounty-col-lg-8{width:66.66666667%}.cartbounty-col-lg-7{width:58.33333333%}.cartbounty-col-lg-6{width:50%}.cartbounty-col-lg-5{width:41.66666667%}.cartbounty-col-lg-4{width:33.33333333%}.cartbounty-col-lg-3{width:25%}.cartbounty-col-lg-2{width:16.66666667%}.cartbounty-col-lg-1{width:8.33333333%}.cartbounty-col-lg-pull-12{right:100%}.cartbounty-col-lg-pull-11{right:91.66666667%}.cartbounty-col-lg-pull-10{right:83.33333333%}.cartbounty-col-lg-pull-9{right:75%}.cartbounty-col-lg-pull-8{right:66.66666667%}.cartbounty-col-lg-pull-7{right:58.33333333%}.cartbounty-col-lg-pull-6{right:50%}.cartbounty-col-lg-pull-5{right:41.66666667%}.cartbounty-col-lg-pull-4{right:33.33333333%}.cartbounty-col-lg-pull-3{right:25%}.cartbounty-col-lg-pull-2{right:16.66666667%}.cartbounty-col-lg-pull-1{right:8.33333333%}.cartbounty-col-lg-pull-0{right:auto}.cartbounty-col-lg-push-12{left:100%}.cartbounty-col-lg-push-11{left:91.66666667%}.cartbounty-col-lg-push-10{left:83.33333333%}.cartbounty-col-lg-push-9{left:75%}.cartbounty-col-lg-push-8{left:66.66666667%}.cartbounty-col-lg-push-7{left:58.33333333%}.cartbounty-col-lg-push-6{left:50%}.cartbounty-col-lg-push-5{left:41.66666667%}.cartbounty-col-lg-push-4{left:33.33333333%}.cartbounty-col-lg-push-3{left:25%}.cartbounty-col-lg-push-2{left:16.66666667%}.cartbounty-col-lg-push-1{left:8.33333333%}.cartbounty-col-lg-push-0{left:auto}.cartbounty-col-lg-offset-12{margin-left:100%}.cartbounty-col-lg-offset-11{margin-left:91.66666667%}.cartbounty-col-lg-offset-10{margin-left:83.33333333%}.cartbounty-col-lg-offset-9{margin-left:75%}.cartbounty-col-lg-offset-8{margin-left:66.66666667%}.cartbounty-col-lg-offset-7{margin-left:58.33333333%}.cartbounty-col-lg-offset-6{margin-left:50%}.cartbounty-col-lg-offset-5{margin-left:41.66666667%}.cartbounty-col-lg-offset-4{margin-left:33.33333333%}.cartbounty-col-lg-offset-3{margin-left:25%}.cartbounty-col-lg-offset-2{margin-left:16.66666667%}.cartbounty-col-lg-offset-1{margin-left:8.33333333%}.cartbounty-col-lg-offset-0{margin-left:0}}.cartbounty-row:after,.cartbounty-row:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before{display:table;content:" "}.cartbounty-row:after,.clearfix:after,.container-fluid:after,.container:after{clear:both}
/* Responsive grid layout end */

/* Selectize style start */
.selectize-control.plugin-remove_button .item{display:inline-flex;align-items:center;padding-right:0!important}.selectize-control.plugin-remove_button .item .remove{color:inherit;text-decoration:none;vertical-align:middle;display:inline-block;padding:2px 6px;border-left:1px solid #d0d0d0;border-radius:0 2px 2px 0;box-sizing:border-box;margin-left:10px}.selectize-control.plugin-remove_button .item .remove:hover{background:rgba(0,0,0,.05)}.selectize-control.plugin-remove_button .item.active .remove{border-left-color:#cacaca}.selectize-control.plugin-remove_button .disabled .item .remove:hover{background:0 0}.selectize-control.plugin-remove_button .disabled .item .remove{border-left-color:#fff}.selectize-control{position:relative}.selectize-control.single .selectize-input.input-active,.selectize-input{cursor:text}.selectize-input{display:inline-block;width:100%;overflow:hidden;position:relative;z-index:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.selectize-input.disabled,.selectize-input.disabled *{cursor:default!important}.cartbounty .cartbounty-select .selectize-input.dropdown-active{border-radius:4px 4px 0 0}.selectize-input>*{vertical-align:baseline;display:inline-block;zoom:1}.selectize-control.multi .selectize-input>div{cursor:pointer;margin:2px 4px 2px 0;padding:2px 10px;background:#f1f1f1;color:#303030;border:0 solid #d0d0d0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.selectize-control.multi .selectize-input>div.active{background:#e8e8e8;color:#303030;border:0 solid #cacaca}.selectize-control.multi .selectize-input.disabled>div,.selectize-control.multi .selectize-input.disabled>div.active{color:#7d7d7d;background:#fff;border:0 solid #fff}.selectize-input>input{display:inline-block!important;padding:0!important;min-height:0!important;max-height:none!important;max-width:100%!important;margin:0!important;text-indent:0!important;border:0 none!important;background:0 0!important;line-height:inherit!important;user-select:auto!important;box-shadow:none!important}.selectize-input>input::-ms-clear{display:none}.selectize-input>input:focus{outline:0!important}.selectize-input>input[placeholder]{box-sizing:initial}.selectize-input.has-items>input{margin:0 4px!important}.cartbounty .selectize-dropdown{position:absolute;top:100%;left:0;z-index:10;border-top:0 none;border-radius:0 0 4px 4px;padding-left:12px;padding-right:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.selectize-dropdown [data-selectable]{cursor:pointer;overflow:hidden}.selectize-dropdown [data-selectable] .highlight{background:rgba(125,168,208,.2);border-radius:1px}.selectize-dropdown .create,.selectize-dropdown .no-results,.selectize-dropdown .optgroup-header,.selectize-dropdown .option{padding:6px 8px}.selectize-dropdown .option,.selectize-dropdown [data-disabled],.selectize-dropdown [data-disabled] [data-selectable].option{cursor:inherit;opacity:.5}.selectize-dropdown [data-selectable].option{opacity:1;cursor:pointer}.selectize-dropdown .active{background-color:#f1f1f1}.selectize-dropdown-content{overflow-y:auto;overflow-x:hidden;max-height:200px;overflow-scrolling:touch}.selectize-control.single .selectize-input,.selectize-control.single .selectize-input input{cursor:pointer}.selectize-control.single .selectize-input.input-active,.selectize-control.single .selectize-input.input-active input{cursor:text}.selectize-control.single .selectize-input:after{content:" ";display:block;position:absolute;top:50%;right:10px;margin-top:-9px;width:20px;height:20px;background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;background-size:16px 16px;transform-origin:38% 50%}.selectize-control.single .selectize-input.dropdown-active:after{transform:rotate(180deg);-webkit-transform:rotate(180deg)}.selectize-control .selectize-input.disabled{background-color:#fafafa}
/* Selectize style end */

/* The Toggle definition */
/* The switch - the box around the slider */
.cartbounty-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;
	margin: 1px 10px 0 0;
}

/* Hide default HTML checkbox */
.cartbounty-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.cartbounty-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #dbdada;
	-webkit-transition: 	all 0.4s ease-in-out;
	-moz-transition: 		all 0.4s ease-in-out;
	-o-transition: 			all 0.4s ease-in-out;
	transition: 			all 0.4s ease-in-out;
}

.cartbounty-slider:hover,
.cartbounty-slider:focus{
	-webkit-box-shadow: 0 0 0 5px #e8e8e8;
	-moz-box-shadow: 0 0 0 5px #e8e8e8;
	box-shadow: 0 0 0 5px #e8e8e8;
}

.cartbounty-slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 3px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 	all 0.3s ease-in-out;
	-moz-transition: 		all 0.3s ease-in-out;
	-o-transition: 			all 0.3s ease-in-out;
	transition: 			all 0.3s ease-in-out;
}

input:checked + .cartbounty-slider {
	background-color: #aa88fc;
	border: 1px solid #9c75fc;
}

input:focus + .cartbounty-slider {
	-webkit-box-shadow: 0 0 1px #aa88fc;
	-moz-box-shadow: 0 0 1px #aa88fc;
	box-shadow: 0 0 1px #aa88fc;
}

input:checked + .cartbounty-slider:before {
	-webkit-transform: translateX(16px); /* WebKit */
	-moz-transform: translateX(16px); /* Mozilla */
	-o-transform: translateX(16px); /* Opera */
	-ms-transform: translateX(16px); /* Internet Explorer */
	transform: translateX(16px); /* CSS3 */
}

input:checked + .cartbounty-slider:hover,
input:checked + .cartbounty-slider:focus{
	-webkit-box-shadow: 0 0 0 5px #e1d9f3;
	-moz-box-shadow: 0 0 0 5px #e1d9f3;
	box-shadow: 0 0 0 5px #e1d9f3;
}

/* Rounded sliders */
.cartbounty-slider.round {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	border: 1px solid #d1cfcf;
}

.cartbounty-slider.round:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
/* The Toggle definition end */

@keyframes spin{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOutSlow {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes exitIntentfadeIn{
    0% { opacity: 0; }
    10% { opacity: 0; }
    15% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes exitIntentSlideIn{
    0% { transform: translate(-100%,0); }
    10% { transform: translate(-100%,0); }
    15% { transform: translate(0,0); }
    90% { transform: translate(0,0); opacity: 1; }
    100% { opacity: 0; }
}

@keyframes earlyCaptureFadeUp{
    0% { transform: translate(0,-10%); opacity: 0; }
    10% { transform: translate(0,-10%); opacity: 0; }
    15% { transform: translate(0,0); opacity: 1; }
    90% { transform: translate(0,0); opacity: 1; }
    100% { opacity: 0; }
}

@keyframes earlyCaptureClick{
    6% { transform: scale(1); }
    8% { transform: scale(.75); }
    10% { transform: scale(1); }
}