
h1, h2, h3, h4 {
	font-family: bree, sans-serif !important;
}
p,
li {
    font-size: 16px;
    font-weight: 400;
}
.eltdf-container-inner p {
	text-align: justify;
}

/** Geral */
.eltdf-section-title-holder h2.eltdf-st-title {
    color: #e35810;
}
.ui-widget-content {
	border: none !important;
}
.color-primary {
	color: #e35810;
}
.text-center {
    text-align: center;
    margin: auto;
    display: table;
}

/** Slide */
.title-slide {
	color: #fff;
}

/** Header */
.eltdf-top-bar {
    background-color: #273e93;
}
	.eltdf-top-bar .widget,
	.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner>span {
		color: #fff;
	}
		.eltdf-top-bar .widget a {
			color: #fff;
		}
.eltdf-main-menu>ul>li>a {
    padding: 0 15px;
    font-size: 14px;
	color: #273e93;
}
.eltdf-drop-down .narrow .second .inner ul {
    background-color: #e35810;
}
	.eltdf-drop-down .narrow .second .inner ul a {
		color: #fff;
		font-weight: bold;
	}
		.eltdf-drop-down .narrow .second .inner ul a .item_outer:before {
			color: #fff;
		}
.eltdf-side-menu {
	background-color: #fff;
	color: #000;
}
	.eltdf-side-menu * {
		color: #000 !important;
	}
	.eltdf-side-menu .eltdf-widget-title {
		color: #e35810 !important;
	}
	.tribe-events-list-widget .tribe-events-list-widget-events {
		padding: 0;
	}
		.tribe-events-list-widget .tribe-event-title {
			font-size: 16px;
		}
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown {
    background-color: #e35810;
}
	.menu-vantagens a {
		color: #e35810 !important;
		font-weight: bold !important;
	}
	a.eltdf-side-menu-button-opener.eltdf-icon-has-hover.eltdf-side-menu-button-opener-icon-pack {
		display: none !important;
	}

.menu-fixed {
    position: absolute;
    top: 300px;
    right: 0;
    z-index: 1000000;
    color: #fff;
	width: 100px;
}
	.menu-fixed a {
		color: #fff;
		background-color: #e35810;
		padding: 5px 5px 5px 10px;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 30px;
		margin: 5px 0;
		transition: 0.5s;
		float: right;
		width: 100%;
	}
		.menu-fixed a span {
			display: inline-block;
			vertical-align: middle;
		}
		.menu-fixed a .icon-custom {
			font-size: 20px;
			display: inline-block;
			margin-right: 5px;
		}
	.menu-fixed a.i-cursos {
		background-color: #283e93;
	}
	.menu-fixed a:hover {
		padding: 5px 15px 5px 10px;
		transition: 0.5s;
	}
@media only screen and (max-width: 1040px) {
	.menu-fixed {
		display: none;
	}
}
@media only screen and (max-width: 1140px) {
	.eltdf-main-menu>ul>li>a {
		padding: 0 6px;
	}
}

/** Page */
.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type,
.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-title-inner {
    background-color: #283e93;
    background-image: none !important;
}
	.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs a, 
	.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs span,
	.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-page-title {
		color: #fff;
	}

/** Footer */
.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-inner.eltdf-full-width, .eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-inner.eltdf-grid {
    padding: 60px 0 4px;
}
.eltdf-footer-bottom-holder {
    display: none !important;
}
.eltdf-icon-widget-holder>.eltdf-icon-text {
    width: calc(100% - 30px);
}

/** Color */
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a .eltdf-login-dropdown-item-inner:before {
	color: #e35810;
}
#rev_slider_11_1_wrapper .academist-nav .tp-bullet.selected, #rev_slider_11_1_wrapper .academist-nav .tp-bullet:hover {
	background-color: #e35810;
}

/** Widget */
.widget .eltdf-cl-item h4.eltdf-cli-title {
    font-size: 15px;
}
	/** Agenda */
	.tribe-events-list-widget .tribe-events-list-widget-events {
		padding: 0 !important;
	}
		.tribe-events-list-widget .tribe-events-list-widget-events .tribe-event-duration {
			background: #e25810;
			display: inline-block;
			padding: 0px 5px;
			font-weight: bold;
			font-size: 14px;
		}
			.tribe-events-list-widget .tribe-events-list-widget-events .tribe-event-duration * {
				color: #fff !important;
			}
	.tribe-events-widget-link {
		text-decoration: underline;
	}

/** Home */
body.home .eltdf-content {
	margin: 0 !important;
}
.eltdf-cli-image .eltdf-cli-category-holder {
    background-color: #fff !important;
}
	.eltdf-cli-image .eltdf-cli-category-holder a {
		color: #283e93 !important;
	}
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit {
	background-color: #e35710;
    border-color: #e35710;
}
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit:hover {
		background-color: #283e93;
		border-color: #283e93;
	}

/** FAQ */
.ui-accordion .ui-accordion-header {
    background: #fff;
    border: none !important;
}
.eltdf-accordion-holder.eltdf-ac-boxed .eltdf-accordion-title {
    border-bottom: 1px solid #bdbdbd !important;
}
.eltdf-accordion-holder.eltdf-ac-boxed .eltdf-accordion-content {
    background: #f5f5f5 !important;
    padding: 20px;
    border-bottom: 1px solid #bdbdbd !important;
}

/** Professores */
.eltdf-instructor.info-hover .eltdf-instructor-inner {
	cursor: pointer;
}
.eltdf-instructor-single-outer .eltdf-cli-bottom-info {
    display: none;
}
.eltdf-instructor.simple .eltdf-instructor-image {
    padding-right: 20px;
}
.eltdf-instructor.simple .eltdf-instructor-name {
    font-size: 18px;
	line-height: 1.3;
}
	.eltdf-instructor.simple .eltdf-instructor-position {
		font-size: 14px;
		line-height: 1.3;
	}

/** Curso */
.eltdf-tabs .eltdf-tab-container p {
	margin: 10px 0;
}
.eltdf-course-image img {
    width: 100%;
}
.eltdf-course-single-holder .eltdf-course-basic-info-wrapper .eltdf-course-reviews {
	padding-left: 0px;
}
.eltdf-course-image-sidebar img {
    display: block;
}
.widget.eltdf-course-features-widget {
    padding: 25px !important;
}
.eltdf-course-tabs-wrapper #tab-description {
	padding: 0;
	margin: 0;
}
.eltdf-course-single-holder .eltdf-course-basic-info-wrapper .eltdf-course-categories {
    padding-left: 0;
}
.eltdf-course-single-holder .eltdf-course-basic-info-wrapper .eltdf-course-action .eltdf-btn {
    width: 100%;
}
@media only screen and (max-width: 1025px) {
	.eltdf-course-single-holder .eltdf-course-basic-info-wrapper .eltdf-course-action {
		padding-top: 20px;
	}
}
.btn-turma-fechada {
    background-color: #c1c1c1 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    cursor: default;
}

/** Listagem Cursos */
.eltdf-course-list-holder.eltdf-cl-standard article .eltdf-cli-text-holder .eltdf-cli-excerpt {
    text-align: left;
    height: 72px;
    overflow: hidden;
	font-size: 16px;
}
.eltdf-instructor-single-info-holder .eltdf-course-list-holder.eltdf-cl-standard article .eltdf-cli-text-holder .eltdf-cli-excerpt {
    height: 120px !important;
}
.info-curso {
    font-size: 15px;
}
	.info-curso span {
		float: left;
	}
	.info-curso a {
		float: right;
		color: #e35810 !important;
		font-weight: bold;
	}

/** Contato */
body.page-id-311 h1.eltdf-page-title.entry-title {
    display: none;
}

/** Blog */
@media only screen and (min-width: 680px) {
	body.blog .eltdf-grid-list.eltdf-three-columns .eltdf-item-space {
		min-height: 680px;
	}
		body.blog .eltdf-blog-holder article .eltdf-post-title {
			margin: 0;
			font-size: 28px;
		}
}

/** Finalizar Compra */
.woocommerce-page .eltdf-content input[type=text], .woocommerce-page .eltdf-content input[type=email], .woocommerce-page .eltdf-content input[type=tel], .woocommerce-page .eltdf-content input[type=password], .woocommerce-page .eltdf-content textarea, div.woocommerce input[type=text], div.woocommerce input[type=email], div.woocommerce input[type=tel], div.woocommerce input[type=password], div.woocommerce textarea {
    border: 1px solid #ccc !important;
    background: #f9f9f9 !important;
}
span.woocommerce-input-wrapper .select2 {
    width: 100% !important;
    display: block;
    border: 1px solid #ccc;
    background: #f9f9f9;
}
.woocommerce-checkout-payment {
    max-width: 640px;
}
button#place_order {
    width: 100%;
    margin-top: 20px;
}
.woocommerce-error {
    background: rgba(255, 0, 0, 0.2) !important;
}
	.woocommerce-error ul {
		margin-bottom: 0 !important;
	}

/** Busca */
.eltdf-btn.eltdf-btn-solid {
    background-color: #f37123;
}

/** Responsivo */
@media only screen and (max-width: 680px) {
	/** Breadcumps */
	.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type {
		height: 80px !important;
		overflow: hidden;
	}
		.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-title-wrapper {
			height: 80px !important;
		}
		.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-page-title {
			font-size: 22px;
			margin-bottom: 0;
		}
		.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info {
			display: none;
		}
	/** Curso */
	.eltdf-course-single-holder .eltdf-course-title-wrapper {
		margin-bottom: 10px;
	}
		.eltdf-course-single-holder .eltdf-course-single-title {
			margin: 0 0 20px;
			font-size: 18px;
		}
		.eltdf-course-single-holder .eltdf-course-single-type {
			margin: 0;
			font-size: 22px;
		}
	/** Slide Home */
	.title-slide {
		white-space: initial !important;
		margin: 0 !important;
	}
	.tp-shape.tp-shapewrapper.rs-layer {
		display: none;
	}
}